[2013-03-26 20:52] hyperobject opened #1 "Security flaw in Scratchblocks generator"
The Scratchblocks generator can get the scripts of non-shared 2.0 projects.

[2013-03-26 21:09] #1 closed, assigned to nobody

[2013-03-28 14:20] techopswhiz opened #2 "Scratchblocks generator doesn't work"
I saw you link to http://blob8108.github.com/scratchblocks2/generator/ somewhere on the scratch forums, but it doesn't seem to be working for me.  It says fetching, but never actually retrieves the scripts of any project I've tried.

[2013-03-28 14:43] #2 closed, assigned to nobody

[2013-03-28 15:01] techopswhiz opened #3 "Generator: Hacked list inputs cause arguments to render improperly"
![screenshot 87](https://f.cloud.github.com/assets/1890286/313747/7a2a20da-97b7-11e2-8e7d-b02d55aa576b.png)
See this [script](http://blob8108.github.com/scratchblocks2/#define%20set%20up%20[list1%20v]%20with%20dimensions%20%28number1%29%20x%20%28number2%29%20and%20default%20value%20[string1]%20%2F%2F%20Hacked%20list%20input%0A%2F%2Fshows%20the%20v%20representing%20the%0A%2F%2Fdropdown%20menu%20as%

[2013-03-28 15:04] techopswhiz opened #4 "Reporter block rendering issue"
In the [generator](http://blob8108.github.com/scratchblocks2/generator/#project=10014499&sprite=1,), reporters are drawn taller than they are in the [actual project](http://beta.scratch.mit.edu/projects/10014499/#editor).  Also, the rounding is not done based on height like it should be.  The result is that taller reporters (with many blocks nested inside) are not rounded as well as simple reporte

[2013-03-28 15:16] techopswhiz opened #5 "procDef issues"
Actual: ![screenshot 89](https://f.cloud.github.com/assets/1890286/313827/d723ed46-97b9-11e2-801a-343726834620.png)
Rendered: ![screenshot 90](https://f.cloud.github.com/assets/1890286/313828/d73518fa-97b9-11e2-8f32-abad425a7475.png)

Problems:
- [x] purple border above the block definition is slightly smaller than it should be
- [x] curved roof should extend all the way to the end of the block
-

[2013-03-28 19:02] tjvr opened #6 "Don't mark lists as list-dropdown if they're not shaped like dropdowns"
Only `[dropdowns v]` should get marked as `.list-dropdown`, so we don't mis-recognise reporters as lists when they're in a list slot.

Example:
http://blob8108.github.com/scratchblocks2/#delete%20(all%20v)%20of%20(list1)%0Aadd%20(number1)%20to%20(list1)%0Aadd%20(number2)%20to%20(list1)%0Arepeat%20((number1)%20*%20(number2))%0A%20%20%20%20add%20(string1)%20to%20(list1)%0Aend

[2013-03-28 19:27] techopswhiz opened #7 "Editing Question"
Would it be possible to make it possible for scripts to be edited by clicking somewhere in the script and simply typing there?

[2013-03-28 19:46] #3 closed, assigned to tjvr

[2013-03-28 19:48] #6 closed, assigned to tjvr

[2013-03-28 19:48] #4 closed, assigned to tjvr

[2013-03-29 01:00] menasheh opened #8 "Bottoms of C blocks"
The lengths of the bottoms of C blocks do not match the lengths of their tops and are too short.

---

[2013-03-29 11:45] #7 closed, assigned to nobody

[2013-03-29 13:23] #5 closed, assigned to tjvr

[2013-03-31 14:53] techopswhiz opened #9 "Backpack"
Can you make it possible to get stuff from the backpack? http://beta.scratch.mit.edu/internalapi/backpack/{username}/get/

[2013-05-10 15:01] tjvr opened #10 "`when distance < (20)` block"
The parser doesn't render this block correctly, because it contains a less than sign in the text.

[preview](http://blob8108.github.io/scratchblocks2/#when%20distance%20%3C%20(20%29)

[2013-05-12 15:44] tjvr opened #11 "Spaces in argument to "of""
Argument to the “of” operator block is sensitive to spaces (or lack thereof)

[example](http://blob8108.github.io/scratchblocks2/#%28%5B10%5E%5D%20of%20%284%29%29)

[2013-05-12 15:50] tjvr opened #12 "Free-floating inserts"
Free-floating inserts don't render as stack blocks in scripts.

It's possible to define a custom block with no text and a single insert.

[example](http://blob8108.github.io/scratchblocks2/#clear%0A%5Btext%5D%0A%2842%29%0A%28menu%20v%29%0A%5Banother%20v%5D)

[2013-05-12 21:03] #11 closed, assigned to tjvr

[2013-05-15 12:36] tjvr opened #13 "Obsolete inserts"
Number inserts shouldn't get tagged with the "obsolete" class

[2013-05-19 12:45] tjvr opened #14 "when"
"when" on its own should render as an obsolete block, not a purple hat
[example](http://blob8108.github.io/scratchblocks2/#when)

[2013-05-19 14:32] #14 closed, assigned to nobody

[2013-05-19 15:23] #10 closed, assigned to nobody

[2013-05-19 15:23] #12 closed, assigned to tjvr

[2013-05-19 15:23] #13 closed, assigned to tjvr

[2013-05-30 09:50] ehermann opened #15 "Translating to other languages"
Hi,
I would like to adapt your script so that I can create blocs Brazilian Portuguese.
Do you have any hint on the best way to do so?
Thanks
Everton

[2013-06-03 18:10] #15 closed, assigned to tjvr

[2013-06-11 08:34] tjvr opened #16 "cap blocks before "else""
[example](http://blob8108.github.io/scratchblocks2/#if%20%3Cmouse%20down%3F%3E%20then%0Astop%20%5Bthis%20script%20v%5D%0Aelse%0Asay%20%5BPut%20the%20mouse%20down!%5D)

[2013-06-11 08:49] tjvr opened #17 "Angled Booleans"
Boolean blocks are currently rounded (border-radius) as the CSS for triangular ends is tricky. [example](http://blob8108.github.io/scratchblocks2/#if%20%28mouse%20down%3F%29)

[joooni](http://scratch.mit.edu/users/blob8108/#comments-33977) has a [working example](http://jms-web.tk/Blocksplugin%202.0/anothertest.htm) using images and JS. The JS is doable, but I don't want to use images as I'd need

[2013-06-11 14:23] tjvr opened #18 "Escape closing square brackets in strings"
example:

    say [cheese \] fish]

[2013-06-13 21:33] tjvr opened #19 ""of" crashes parser"
Empty of block with no args throws error
[example](http://blob8108.github.io/scratchblocks2/#%28of%29)

[2013-06-16 10:57] tjvr opened #20 "Translate extra strings, and pull from translate.scratch.mit.edu"
Some strings are still hardcoded English and need translating too. For example:
- when distance < (20)
- when [Sprite1] clicked
- "other scripts in sprite"

Really, though, we should compile in the translated blocks from http://translate.scratch.mit.edu, and then use that data to translate the scratchblocks in the page into the language that the user's browser is set to. (See the [discussion here]

[2013-06-25 07:51] #16 closed, assigned to nobody

[2013-07-23 14:33] jonatanmosner opened #21 ""..."-block"
This is just some minor issue but I just stumbled upon it.
In one of his last versions JSO added the gray "..."-block, useful as a spacer for user-specific code. (see http://joren.tk/blocks/pluginlab.htm)

It would be great if you could integrate this sooner or later.

[2013-08-25 20:30] #21 closed, assigned to tjvr

[2013-08-25 20:52] #9 closed, assigned to nobody

[2013-08-25 21:35] #19 closed, assigned to tjvr

[2013-08-31 16:51] tjvr opened #22 "HTML bug in definition hats"
http://blob8108.github.io/scratchblocks2/#define%20%26raquo%3B

[2013-09-01 11:06] #22 closed, assigned to tjvr

[2013-09-01 11:35] tjvr opened #23 "Repeat arrows"
C Blocks that repeat need the arrows at the bottom.

![repeat, forever, repeat until](http://f.cl.ly/items/35011Z3s3A1u0x3y1G1D/Screen%20Shot%202013-09-01%20at%2012.34.13.png)

[2013-09-07 11:24] tjvr opened #24 "Totally need a way of escaping comments"
[example](http://blob8108.github.io/scratchblocks2/#go%20to%20%5Bhttp%3A%2F%2Fexample.com%20v%5D)

Really I'm thinking: just don't parse comments if we're expecting something (a closing bracket, etc).

[2013-09-24 13:57] MathyFurret opened #25 ""Stop (other scripts in sprite)" should be a stack"
The "Stop ()" block, when the argument is [other scripts in sprite v], should render as a stack.
In all other cases, it should render as a cap.
http://blob8108.github.io/scratchblocks2/#stop%20[other%20scripts%20in%20sprite%20v]

[2013-12-08 18:42] #25 closed, assigned to nobody

[2013-12-28 20:39] nathan opened #26 "Hexadecimal colors should only be three or six digits long"
The current implementation allows 4- and 5-digit colors.

[2013-12-28 21:04] nathan opened #27 "Numeric inputs should allow the same values as Scratch"
Scratch allows any string of the characters 0-9, `.`, `-`, and `e` in any order in numeric inputs.

[2013-12-28 21:12] #26 closed, assigned to nobody

[2013-12-28 21:12] #27 closed, assigned to nobody

[2013-12-29 14:16] tjvr opened #28 "Don't allow spaces inside words"
Currently `m o v e (10) s t    e  p s` is a valid block.

@nathan

[2013-12-29 14:27] #24 closed, assigned to nobody

[2014-01-01 09:26] comp500 opened #29 "README.md Incorrect Link"
The link to the old Block Plugin in README.md sends me to the new one. It sent me to http://wiki.scratch.mit.edu/wiki/Block_Plugin but the correct page is http://wiki.scratch.mit.edu/wiki/Block_Plugin_(1.4)

[2014-01-01 11:59] #29 closed, assigned to nobody

[2014-01-25 23:15] tjvr opened #31 "Custom boolean parameters not recognised"
Parameter reporters `(param)` show up in the custom-arg color; predicates `<param>` don't.

[2014-02-02 16:07] pseudobjorn opened #32 "Language selector for test page"
It would be very useful if the online tool at http://blob8108.github.io/scratchblocks2/ was updated to include the language-dropdown that is used in "src/dev.html". This would help translators assert that the code-blocks they write for the Scratch curriculum are correct.

Yours sincerely,
Bjørn Gustafson

[2014-02-02 22:42] #32 closed, assigned to tjvr

[2014-02-03 19:23] pseudobjorn opened #33 "Translate scratchblocks generator"
It would be very useful if the online tool at http://blob8108.github.io/scratchblocks2/generator/ was updated to include a language-dropdown similar to what is used by the tool at http://blob8108.github.io/scratchblocks2/. This would reduce the amount of work required by the translators when they are writing Scratchblocks for the Scratch curriculum.

[2014-02-10 15:53] kurisi opened #34 "More translations on test page"
Hi, and thanks for this very useful tool. I'm in the process of starting up a Code Club here in Stockholm, Sweden and can't render the scratch blocks in Swedish, although there is a complete Swedish translation on the Scratch Translation Server. Would it be very tedious to include Swedish among the languages?

[2014-02-10 17:35] #28 closed, assigned to nobody

[2014-02-10 17:38] #20 closed, assigned to nobody

[2014-02-11 11:29] tjvr opened #35 "Underscores in custom parameters"
[example](http://scratchblocks.github.io/#define%20GetID%20(item%20_%20name)%20in%20list%0Aif%20%3C%5Blist%20v%5D%20contains%20(item_name)%3E%20then%0Aset%20%5Bi%20v%5D%20to%20%5B0%5D%0Arepeat%20until%20%3C(item%20(i%20v)%20of%20%5Blist%20v%5D)%20%3D%20(item_name)%3E%0Achange%20%5Bi%20v%5D%20by%20(1)%0Aend%0Aend) -- spaces get added around the underscore.

I should probably think about switching t

[2014-03-14 15:50] comp500 opened #36 "Don't require jQuery"
jQuery is a lot of bulk for a small plugin, but the only use for it in this plugin is the inArray function. The inArray function (I think) can be recreated in pure JavaScript, instead of needing jQuery. Also, for the selectors, you should use http://sizzlejs.com/ as it is part of jQuery anyway (backwards-compatibility is needed). Sizzle is a lot smaller and would make it faster for people who don'

[2014-05-19 08:19] tjvr opened #37 "When Stage clicked"
The "when Stage clicked" block was added.

[2014-05-19 08:20] #36 closed, assigned to nobody

[2014-05-22 19:23] mobluse opened #38 "Generator gives “Error: Not Found” for all projects"
On http://blob8108.github.io/scratchblocks2/generator/ I get “Error: Not Found” for all projects I tried, e.g. http://blob8108.github.io/scratchblocks2/generator/#project=16099330
Scratch might have changed the project API recently.

[2014-05-23 00:35] #38 closed, assigned to nobody

[2014-09-27 14:22] DevanWolf opened #40 "Boolean insert ring in custom-arg appears as red instead of purple"
The outlines of an empty boolean insert of a custom-arg block appear red as obsolete instead of actual pruple. [Example](http://scratchblocks.github.io#report%3C%3E::custom-arg)

As a result, it looks unrealistic! Please fix this!

[2014-11-10 02:09] DevanWolf opened #42 "cstart in hat blocks don't work"
Example: http://blob8108.github.io/scratchblocks2#when%20gf%20clicked%3A%3Acstart
How come the hat shape is removed every time I put the "::cstart" hack near a hat block such as "when this sprite clicked"?

[2014-11-10 02:39] #42 closed, assigned to nobody

[2014-11-11 04:26] DevanWolf opened #43 "Scratchblocks Generator broken"
In: http://blob8108.github.io/scratchblocks2/generator
When I try to enter any project URL in the textbox, I always get an error. Please fix then I can enjoy my time!

[2014-11-11 12:13] #43 closed, assigned to nobody

[2014-11-23 19:01] DevanWolf opened #44 "No extension hat blocks"
The blocks "When () () ()", "When Distance () ()". and "When Tilt () ()" are rendered as a red obsolete block with no hat shape, as they are supposed to be extension hat blocks. "When ()" looks fine as "When () () ()" only works in the Scratch Wiki. [Example.](http://scratchblocks.github.io#when%5Bbutton%20pressed%20v%5D%0A%0Awhen%5Bslider%20v%5D%5B%3E%20v%5D%2850%29%0A%0Awhen%20distance%5B%3C%20v

[2014-11-23 21:11] #44 closed, assigned to nobody

[2014-11-27 18:16] MegaApuTurkUltra opened #45 "Costumes in diff don't show up"
The url has changed from `cdn.scratch.mit.edu/....` to `assets.scratch.mit.edu/...`

Screenshot: http://i.gyazo.com/525ac60b5ee60c217af7d2daa286b3de.png

[2014-11-28 21:10] #45 closed, assigned to nobody

[2014-12-04 19:23] tjvr opened #48 "Recognise Unicode symbols for images"
- Accept the symbols "↺" and "↻" in `turn @ _ degrees` blocks.
- Accept the symbol "⚑" in the `when @ clicked` block.

This will help support languages that don't have an entry in `extra_strings.py` yet.

We should do this by modifying `build_translations.py` to add aliases by replace eg. `@greenFlag` with `⚑`.

[2014-12-07 17:51] arve0 opened #49 "npm package"
Hi!
It would be lovely if this package was published to npm or bower. I and @kwrl are writing a lesson builder, and would very much like to have dependencies taken care of by npm.

If you're not interested in coding this, will you mind a PR and pubilsh it?

[2014-12-18 20:10] #37 closed, assigned to tjvr

[2014-12-18 20:41] gtoal opened #54 "monochrome fork: minor aesthetic tweaks"
1) green flag blocks have a green flag, not a monochrome flag.  However when you print there is no flag visible at all.

2) '%' in block names is escaped as '\%' (ie the \ is visible in the formatted output)

3) there's a rectangular shadow visible behind hat blocks when printing that isn't visible on the screen.

[2014-12-18 20:46] #54 closed, assigned to nobody

[2014-12-20 15:19] #48 closed, assigned to nobody

[2014-12-20 15:20] #34 closed, assigned to tjvr

[2014-12-20 15:27] tjvr opened #55 "Add remaining languages to test page"
The [test page](http://blob8108.github.io/scratchblocks2/) now contains most of the languages Scratch is translated into (from `translations-all.js`).

I've added Swedish and Vietnamese to the drop-down menu, as requested. @kurisi @andylolz

All that's left to do is add the remaining languages [to the dropdown](https://github.com/blob8108/scratchblocks2/blob/gh-pages/index.html#L103-L123). I don't

[2014-12-21 13:21] #55 closed, assigned to nobody

[2014-12-23 13:35] andylolz opened #58 "Set `direction: rtl` for right-to-left languages"
[Demo](http://blob8108.github.io/scratchblocks2/#?lang=he&script=%D7%9B%D7%90%D7%A9%D7%A8%20%D7%9C%D7%95%D7%97%D7%A6%D7%99%D7%9D%20%D7%A2%D7%9C%20%40). The green flag graphic should appear on the left-hand side.

NB the information in the .po files is not reliable here – the Spanish .po file says “RTL”, which is not correct… The Arabic .po file says “RTL-math” – I’m not sure what this means. It mi

[2015-01-02 13:44] andylolz commented on #58
I had a go at this [over here](https://github.com/andylolz/scratchblocks2/tree/58-rtl) by very simply adding the `direction: rtl` directive to the `<div class="sb2">` element. The text looks perfect now, but I have a few other glitches:

![screen shot 2015-01-02 at 13 37 11](https://cloud.githubusercontent.com/assets/464193/5596387/ae922344-9284-11e4-9a32-711dd78179cc.png)

Specifically, the dropd

[2015-01-02 14:15] blob8108 commented on #58
You need to apply it to individual blocks anyway, because mixing two languages (eg. English and Arabic) in one input is supported.

[2015-01-02 14:23] andylolz opened #59 "Use a scratch 2 translation where available (over a scratch 1.4 one)"
Many blocks have been translated both for scratch 1.4 and for scratch 2. `build_translations.py` pulls in all of these, then minifies them and merges them together. However, where there are multiple translations for the same block, there’s currently no guarantee whether the block used will be from scratch 1.4 or from scratch 2 (essentially because python dicts are unordered.)

I guess we should in

[2015-01-02 14:36] andylolz commented on #58
Okay, cool. Is that feature just available on the github pages version, or also in the forum plugin?

[2015-01-02 14:43] blob8108 commented on #58
All versions. The plugin starts with English loaded, and it's not possible to un-load it. It supports multiple languages to be loaded at once, but it's intended to be used with either none or one extra language loaded.

I *think* there's a way to work out which language a block comes from *somewhere* in the parser. Maybe I should have a look sometime.

[2015-01-02 14:54] andylolz commented on #59
NB this is particularly important for right-to-left scripts, where the scratch 1.4 translations are RTL, but the scratch 2 translations appear to be LTR between words.

E.g. “add %s to %L” in Hebrew:
 * scratch 2: הוסף %s ל %L
 * scratch 1.4:  %L ל- %s  הוסף

[2015-01-02 16:17] andylolz commented on #58
Yeah – `find_block(…)` knows, because that information is contained within `block_by_text`. I made a start at adding `lang` to the returned `info` object. I should be able to finish this off and send a PR.

[2015-01-02 16:56] andylolz commented on #58
Nice – that works much better:

![screen shot 2015-01-02 at 16 55 39](https://cloud.githubusercontent.com/assets/464193/5597766/3c08acf0-92a0-11e4-920a-e6c26fdb1d9e.png)

Still a problem with the RTL dropdown arrows… But it’s getting closer…

[2015-01-02 17:02] blob8108 commented on #58
Would setting all the dropdowns to LTR work?

[2015-01-02 17:17] andylolz commented on #58
Haha yep – I realised the same thing :) PR imminent!

[2015-01-03 05:17] andylolz opened #62 "Fix insert regex in build_translations.py"
The `%.` bit of the insert regex is not quite right. Several translations contain a “% ”, which is then mistakenly interpreted as an insert.

[2015-01-03 11:41] andylolz opened #64 "Translation insert order does not always match English insert order"
NB. This really only affects the generator currently.

I’ve separated this out into a new issue, as it is a little bit complicated. Discussed [a little bit here](https://github.com/blob8108/scratchblocks2/issues/33#issuecomment-67949745), and a [bit more here](https://github.com/blob8108/scratchblocks2/pull/57#issuecomment-68570409).

I’ve made [an attempt at fixing the translations](https://githu

[2015-01-04 01:13] andylolz opened #65 "General purpose scratchblocks babelfish"
This cool idea was [proposed by @blob8108](https://github.com/blob8108/scratchblocks2/issues/33#issuecomment-33995521) and inspired by @pseudobjorn.

I’ve made a rough demo version here:
http://scratchblocks.codeclub.org.uk/translator

[2015-01-04 11:23] andylolz commented on #65
A couple of known bugs:
 * `define` blocks don’t work correctly yet. I think I just need to handle them separately
 * We load both the “from” and “to” languages (as well as English), so if you type something using either English or the “to” language, it’ll be recognised ([example](http://scratchblocks.codeclub.org.uk/translator/#script=when%20gf%20clicked%0Arebondir%20si%20le%20bord%20est%20attein

[2015-01-04 14:32] blob8108 commented on #65
Very cool -- thanks for working on this! Someone suggested it to me over a year ago, possibly [joooni](http://scratch.mit.edu/users/joooni), but I never got around to it.

That's fine -- Google Translate has similar behaviour, doesn't it?

You should translate menu options too, such as `mouse-pointer`. Note this requires more strings from pootle than we've currently fetched. (The same applies to t

[2015-01-04 20:40] andylolz commented on #65
Good point, yes!

Quick question: Should I include these translations in `translations.js` / `translations-all.js`, or would you prefer them in a separate file? Looks like there’s about 60 of these words that haven’t been translated elsewhere.

[2015-01-04 23:02] blob8108 commented on #65
Urgh, I don't know. I regret the design of those files. For now, yeah, probably easiest just to add them to `build_translations.py`.

[2015-01-05 00:28] andylolz commented on #65
kk I’ve done it ([and it works!](http://scratchblocks.codeclub.org.uk/translator/#script=when%20flag%20clicked%0Apoint%20in%20direction%20(0%20v)%0Ago%20to%20x%3A%20(-215)%20y%3A%20(-160)%0Aforever%0Aif%20%3C%20(distance%20to%20%5Bmouse-pointer%20v%5D)%20%3E%20%5B5%5D%20%3E%20then%0Apoint%20towards%20%5Bmouse-pointer%20v%5D%0Amove%20(1)%20steps%0Aend&from=en&to=fr)) It also involved a change to `s

[2015-01-05 21:46] andylolz commented on #49
I just realised this is in fact clearly documented! Serves me right for not reading the dev-readme :)

[2015-01-05 22:17] blob8108 commented on #49
Hmm, I should probably link dev-readme from the main readme somewhere. (I thought I had.)

[2015-01-07 18:49] andylolz commented on #65
So… Either way I will be modifying `build_translations.py`… I was more suggesting that I could put these additional translations in e.g. `translations-extra.js` and `translations-all-extra.js`…

Alternatively, I could just add them to `translations-all.js` and not `translations.js` (since they’re only used on the github page and not by the plugin) and then also avoid modifying `scratchblocks2.js`.

[2015-01-08 09:02] andylolz commented on #65
Okay, I’ve made that change now. So `/translations` now no longer requires a patch to `scratchblocks2.js`, and the extra translations generated for it are not included in `translations.js`.

[2015-01-08 09:07] andylolz commented on #65
Out of interest, how would you do it differently? I wondered about the mixture of objects and arrays – I guess you used objects where translations were sparse, and arrays elsewhere (thereby minimising overall file size). Is that right?

[2015-01-08 09:23] blob8108 commented on #65
More or less. I was worried about file size, so I used an array that corresponds to the English blocks in `translations.js`. I've since realised a dictionary would probably be fine, since gzip would compress the repeated keys anyway, and it would make the design less brittle.

Some of them have to be dictionaries, particularly `aliases`, since there may be multiple aliases for the same block, prev

[2015-01-08 10:41] andylolz commented on #65
So… For the dropdowns, I went for an array (but happy to change this, since it means hardcoding the English versions in two different places.)

Ah yes, good point! Actually, this posed a bit of an issue here, since it means there’s a choice of translations for a given block (e.g. one with a ⚑ in it, one with a “grüne Flagge” in it…) At the moment, the last one we get to wins.

[2015-01-23 19:52] wolbar opened #68 "Tilt Sensor Block Bug"
The WeDo Tilt Sensor values reported for 'right' tilt, which should be a number 4, vacillate between 3 and 4 and stay there regardless of how the sensor is tilted. Programs work fine in Scratch 1.4, but not in Scratch 2.

Attached is an image of the program in Scratch 1.4 (works) and Scratch 2 (not works)

[2015-01-23 21:40] blob8108 commented on #68
I think you have the wrong place. Maybe try [LLK/scratch-flash](https://github.com/LLK/scratch-flash)?

[2015-01-23 21:40] #68 closed

[2015-02-11 07:07] arve0 opened #70 "Printing background colors"
I'm unable to print scratchblocks with colors:
![skjermbilde 2015-02-11 kl 07 47 30](https://cloud.githubusercontent.com/assets/4810521/6143097/acc5250e-b1c2-11e4-9b8a-a1a74b48acbe.png)

I've tried:
- ticking *[Print background colors](http://its.yale.edu/how-to/computer-labs-and-printing/article-printing-web-page-background-colors-and-images)* in Safari and Chrome on Mac OS X Yosemite, without lu

[2015-02-11 11:08] blob8108 commented on #70
It works on the previous version of Safari:

![screenshot 2015-02-11 10 58 05](https://cloud.githubusercontent.com/assets/639289/6145865/30c1dd3c-b1de-11e4-901c-a5174b43a498.png)

But I do see what you mean about the new one:

![screenshot 2015-02-11 10 57 20](https://cloud.githubusercontent.com/assets/639289/6145868/36428036-b1de-11e4-88c4-47e8740c2f3e.png)

So that's interesting.

Filled backgro

[2015-02-11 11:52] arve0 commented on #70
@gahjelle

[2015-02-11 14:37] blob8108 commented on #64
Your fix looks hacky, so I was hoping to first switch to using `%`-strings instead of underscores `_` internally, before doing a proper fix of this. But I don't have time to do that, so could you please send a PR for this for me to test? Thanks!

[2015-02-27 18:02] luis140219 opened #71 "Too much redirecting"
I, when I want to exit via going Back, I need to do it 50000 times. That's bad. You should avoid this via avoiding any kind of URL change.

[2015-02-28 01:07] blob8108 commented on #71
This is the wrong place: see [scratchblocks.github.io](https://github.com/scratchblocks/scratchblocks.github.io) instead.

(The scratchblocks homepage has worked this way for a long time; any reason you only just noticed this?)

[2015-02-28 01:07] #71 closed

[2015-02-28 07:38] luis140219 commented on #71
I've gone to http://scratchblocks.github.io and noticed the issue.

[2015-03-10 22:17] MegaApuTurkUltra opened #72 "Underscores in custom blocks rearrange parameters"
See http://scratch.mit.edu/discuss/topic/97208/

Related to https://github.com/blob8108/scratchblocks2/issues/35

[2015-03-24 15:11] #59 closed

[2015-03-24 15:12] #62 closed

[2015-03-27 12:37] blob8108 commented on #64
Whoops: I meant _your_ fix, not my proposed solution!

But I have a little time now, so I'll have a look at fixing this properly…

[2015-03-27 19:38] blob8108 commented on #70
I'm confused as to why this didn't work…

[2015-03-27 21:39] arve0 commented on #70
My bad! It did work, but bootstrap css was included which had the opposite rule.

[2015-03-27 21:39] #70 closed

[2015-03-28 15:45] blob8108 commented on #64
Having thought about all the possible solutions, I think it's easiest just to merge your fix. Can you please send me a PR for it? Thanks! :)

[2015-03-30 12:23] MegaApuTurkUltra opened #73 "Progressbars on diff move backwards"
Despite the 10 second loading time for the average project, seeing the progressbar move backwards is really annoying.

The script should know the number of total assets already from the project JSON, so it is possible to make a progressbar that doesn't move backwards.

[2015-03-30 12:49] blob8108 commented on #73
I believe this behaviour is similar to how Phosphorus's progress bar works. The total project size in bytes can't be determined from the JSON alone, because we don't know the size of each asset.

And to be honest, the diff tool has many other more urgent problems anyway.

[2015-03-30 12:49] #73 closed

[2015-03-31 15:06] MegaApuTurkUltra commented on #73
But it's bad UX design! Why not just show progress like scratch does, based on loaded asset count vs total asset count? Progressbars don't need to move at a constant speed anyway (it's more important to keep them from moving backwards). Can I send a pull req?

[2015-04-28 02:29] Airhogs777 commented on #17
I threw something together: http://jsfiddle.net/Airhogs777/4tan9wmL/

[2015-04-28 09:29] blob8108 commented on #17
Nice! That's pretty similar to what I came up with. But it has problems like needing to set height, as you've pointed out in your description.

[2015-04-28 09:42] Airhogs777 commented on #17
Actually, setting height was the easy part. (I tried to explain this in the fiddle) I set min-width and min-height to the value I wanted and had the pseudo-elements inherit that. The part I've been struggling with is moving the triangles left and right so they line up with the edge of the block

[2015-09-23 17:37] seriema commented on #49
@tjvr where are you on this? Do you want a PR? It's pretty quick otherwise and we could just to a Skype call or something and I'll walk you through it.

[2015-09-23 17:46] tjvr commented on #49
If someone wants an npm package for a demonstrably useful reason such as it simplifies their deployment (and not "it's prettier this way"), they can send me a PR. :-)

[2015-09-23 18:11] seriema commented on #49
It would allow scratchblocks to become part of tools or other projects much easier. Some use `npm` to easily get front end libraries while some prefer [Bower](http://bower.io) and that's awesome for certain projects. Personally I want to plug it into [my current tool chain](https://github.com/kodcentrumcollaborative/Kodstuga_HT15/commit/146d7126c046c0209433718e0ee31ab42c0d4c2f?diff=unified) (click

[2015-09-23 18:12] tjvr commented on #49
Don't the Code Club people already have tooling for writing markdown + scratchblocks with pandoc? You could just use that...

[2015-09-23 18:20] seriema commented on #49
They have a fork of your project, and they have [lesson format](https://github.com/CodeClub/lesson_format) which might be perfect for us. That would only solve my specific issue though, and it's a _maybe_. But I was trying to show examples of how useful it is with independent modules available on `npm` compared to classic "download the JS file, put it somewhere, etc", and not specifically trying t

[2015-09-27 20:27] NitroCipher opened #77 "Rebuilding text into .sb2 (not an issue)"
Please add some way of converting the text back into an .sb2 or .sprite2 format

[2015-09-27 21:25] tjvr commented on #77
Whatever for?

[2015-09-27 21:28] NitroCipher commented on #77
I want to be able to use scratch as a text-based programming language is well, and it would make it easier to make custom blocks.

[2015-09-27 21:29] tjvr commented on #77
scratchblocks is not a good syntax for that. I have a separate project for that, see <http://tjvr.org>

[2015-09-27 22:26] #77 closed

[2015-12-29 20:57] Jonathan50 commented on #18
Yes please

you can't currently write the snap block
[code]

[2016-01-18 01:44] tjvr opened #81 "Improve translations infrastructure"
Can we use https://github.com/LLK/scratch-pootle-translations as a submodule, rather than downloading the translations from translate.scratch.mit.edu ?

---

Additionally, the processing in build_translations.py is mostly unnecessary:

1. I was overly worried about filesize when I made the format, which is why it makes an array rather than using a dictionary. This causes problems when the version

[2016-01-22 08:47] DrKat123 opened #82 "I can't convert projects to sb2!"
It returns as an error whenever i convert a project

[2016-01-22 08:50] tjvr commented on #82
What are you talking about here?

[2016-01-22 08:52] DrKat123 commented on #82
Whenever i convert a Scratch project to scratcblocks, it always returns as an error

[2016-01-22 15:34] tjvr commented on #82
I don't understand. Closing this for now. Feel free to try and explain it better!

[2016-01-22 15:34] #82 closed

[2016-01-22 22:41] DrKat123 commented on #82
Yeah, i'll post a screenshot later

[2016-01-22 22:50] DrKat123 commented on #82
![huh?](http://prntscr.com/9tkhcv)
I can't convert that particular project.

[2016-01-23 04:08] Jonathan50 opened #83 "Upvars?"
Can we have Snap*!* upvars in scratchblocks?

[2016-01-23 09:23] tjvr commented on #83
You can already make them!

[2016-01-23 20:28] Jonathan50 commented on #83
Ok but they aren't shaded the same (it might be a bit hard to do that in CSS, though)

[2016-01-23 20:28] tjvr commented on #83
Can't you do (( foo::variable) :: grey) ?

[2016-01-23 20:55] Jonathan50 commented on #83
But that takes up a lot of space...

[2016-01-26 01:23] tjvr commented on #83
Can you give a screenshot showing the difference?

[2016-01-26 03:01] Jonathan50 commented on #83
![](http://i.cubeupload.com/KwUAGB.png)
![](http://i.cubeupload.com/o78sDK.png)

doing `((foo) :: grey)` takes up more space than the outline in Snap*!* and makes it look like the variable foo is an argument to the nameless grey reporter

[2016-02-18 19:56] banana439monkey opened #84 "Extensions"
Extensions haven't been added and they should be.

[2016-02-18 20:01] tjvr commented on #84
We already have extensions. The WeDo and PicoBoard blocks are supported, and you can write other extension blocks by using the ` :: extension` category hack.

[2016-02-18 20:01] #84 closed

[2016-02-19 09:28] banana439monkey commented on #84
whoops

[2016-02-19 10:12] banana439monkey commented on #84
Also, not here. I haven't got the extension category at all...

[2016-02-22 12:12] #49 closed

[2016-02-22 12:15] tjvr commented on #49
@seriema added a package.json—thanks!

Should I also publish to npm? Cheers :-)

[2016-02-22 12:17] seriema commented on #49
@tjvr That'd be great! You might want better keywords and description etc in the package.json than what I did.

[2016-02-22 13:03] tjvr commented on #72
How fascinating! Yep, that's a bug.

[2016-02-22 13:18] tjvr commented on #49
@seriema I don't use npm for this sort of workflow, so if you want to send another PR that'd be grand :-)

[2016-02-22 13:25] #58 closed

[2016-02-22 13:52] seriema commented on #49
:+1:

[2016-02-26 06:52] Jonathan50 opened #88 "Block named "constructor" breaks"
Well this is weird...
If I have
[code]
then everything stops working.
I just see the text in a monospace font (like in the mobile forums).
If I have
[code]
or
[code]
everything works fine, but that's not what I want.

[2016-02-26 11:16] liam4 commented on #88
I can reproduce this. Using Firefox 47.0a1 (2016-02-25).

[2016-02-26 12:09] tjvr commented on #88
I would guess we're missing a hasOwnProperty somewhere...

[2016-02-26 20:00] Jonathan50 commented on #88
Oops - I forgot to mention my browser!
Iceweasel (Parabola's slightly modified Iceweasel, actually) 43.0.

Does anybody know why Iceweasel always reports my as using WINDOWS?

[2016-02-28 16:22] tjvr opened #89 "Rewrite renderer using SVG/canvas"
The Scratch site [recently dropped support for IE 8](https://scratch.mit.edu/info/faq/#requirements), and now only support IE 9 or above.

We can't fix #17 using DOM/CSS; @nathan tried to do this for [Visual](//github.com/nathan/visual), and eventually settled upon a hybrid DOM/canvas solution.

Since we only need static images, we should output either just canvas or just SVG (ideally, whichever i

[2016-02-28 16:23] tjvr commented on #89
@as-com You made some progress on this? :)

[2016-02-28 16:26] as-com commented on #89
Here's what I have right now: https://jsfiddle.net/ascom/zdfscywv/

There's no layout or proper block sizing, but at least there's pixel-perfect block rendering.

[2016-02-28 16:32] tjvr opened #90 "Rewrite parser"
I think it's nearly time to do this...

- The existing parser is slow, because I knew nothing about parser theory at the time.
- The grammar now is slightly less pathological than when I started (eg. we used to allow whitespace in the middle of words!).
- We're going to struggle to fix #64 without doing this.
- We should rework the translations infrastructure anyway (see #81).
- There are still a

[2016-03-10 08:34] banana439monkey opened #91 "Changing block colours won't work on wiki"
The block colours won't work on the scratch wiki. I'm trying to make a list block called (list) and it's coming out as a variable. I'm trying to get it to a list block, but it only renames the variable.
![image](https://cloud.githubusercontent.com/assets/13748717/13663695/de8b21f2-e69a-11e5-92fc-13916972b190.png)

[2016-03-10 10:35] tjvr commented on #91
Yeah, the version on the wiki is outdated. Bug the ST to update it.

[2016-03-10 10:35] #91 closed

[2016-03-12 06:41] Jonathan50 opened #92 "Block with underscore in name messes up"
For example,
[code]
turns into...
[code]

[2016-03-12 10:05] tjvr commented on #92
Duplicate of #72 "Custom block parameters scrambled".

Admittedly that issue could be named better!

[2016-03-12 10:05] #92 closed

[2016-03-17 13:41] tjvr opened #93 "Allow pasting phosphorus links into generator"
If we just extracted the first number `([0-9]+)`, that might work

[2016-03-28 14:45] tjvr commented on #89
@as-com Thanks so much for making this proof-of-concept!

I've started writing a layout engine, based on the shapes and filters from your code. Here's a screenshot:

![screen shot 2016-03-28 at 15 42 05](https://cloud.githubusercontent.com/assets/639289/14080242/a7f173a2-f4fb-11e5-8027-e9c54869f142.png)

You can even [export the SVG](https://dl.dropboxusercontent.com/u/9598124/Screenshots/foo.svg)

[2016-03-28 14:47] tjvr commented on #40
Please use a calmer tone, and [read the contributing docs](https://github.com/tjvr/scratchblocks/blob/master/.github/CONTRIBUTING.md). I have no obligation to fix bugs in my code for you...

[2016-03-28 19:52] liam4 commented on #89
Shiny! Also.. really nice boolean corners.

[2016-03-28 19:59] tjvr commented on #89
@liam4 Thanks! Fixing long-standing bugs like #17 is a large part of the motivation for this :P

[2016-04-03 12:50] liam4 opened #95 "SVG renderer draws green flag too low"
SVG renderer:
![SVG renderer](https://cloud.githubusercontent.com/assets/9948030/14232409/48dd9c58-f981-11e5-8781-2a69ed3b06b1.png)

Normal renderer:
![normal renderer](https://cloud.githubusercontent.com/assets/9948030/14232410/48df09bc-f981-11e5-89a3-7c599501016d.png)

The SVG renderer draws the green flag a few pixels too close to the bottom of the hat block.

[2016-04-03 12:57] tjvr commented on #95
(Should this have been a comment on the PR?)

Good point, thanks for reporting :) Have you tried comparing with Scratch's renderer?

[2016-04-03 13:16] #40 closed

[2016-04-03 13:19] #95 closed

[2016-04-03 15:23] liam4 commented on #95
Yeah, the scratch renderer looks like the scratchblocks renderer in this case.

[2016-04-06 14:08] tjvr opened #96 "Add post-render hook to renderMatching"
To resolve #30: We want a way to manipulate the element inserted into the DOM.

Possibly we should have a set of callbacks for each step? But that might be going overboard and trying to anticipate future extensions :P

[2016-04-06 14:10] liam4 commented on #96
All I find necessary is as in #30, why would there need to be an event for each step? Also, what does a 'step' refer to here? A render of a block? A stage of the rendering itself?

[2016-04-06 14:15] tjvr commented on #96
@liam4 Yeah, that's all we need right now. But it's plausible in future we might want to manipulate the AST before rendering, or manipulate the code picked up by renderMatching.

Of course, you could always write your own version based on `parse()` and `render()`...

[2016-04-09 14:08] #8 closed

[2016-04-09 14:11] tjvr commented on #17
Fixed via #94 :D

[2016-04-09 14:11] #17 closed

[2016-04-09 14:11] tjvr commented on #23
Fixed via #94 :D

[2016-04-09 14:11] #23 closed

[2016-04-09 14:13] tjvr commented on #89
Fixed via #94. :D

[2016-04-09 14:13] #89 closed

[2016-04-09 14:21] tjvr opened #97 "Add SVG rings"
We don't have layout/shapes for rings yet.

I'm not actually entirely sure how to do these: I'd really like the middle to be transparent, but that might require boolean operations for SVG paths. @as-com Any advice?

[2016-04-09 14:22] as-com commented on #97
What are the rings supposed to look like?

[2016-04-09 14:30] tjvr commented on #97
Something like this: [old renderer example](http://scratchblocks.github.io/#run%20(%7Bcreate%20clone%20%3A%3A%20control%7D%20%E2%96%B6%20%3A%3A%20grey%20ring)%20%3A%3A%20control%0A%0A%3C()%20%E2%96%B6%20%3A%3A%20grey%20ring%3E%0A%0Asay%20(http%3A%2F%2F%20%5Bsnap.berkeley.edu%5D%20%3A%3A%20sensing)%0A%0A((6)%20%C3%97%20(7)%20%3A%3A%20operators)%0A%0A(join%20%5Bhello%20%5D%20%5Bworld%5D%20%E2%97%80%

[2016-04-09 14:38] as-com commented on #97
Snap's block styles are different, but you could draw a regular number shape (perhaps with less rounded ends?) and [cut out an appropriate shape](http://stackoverflow.com/questions/1983256/how-can-i-cut-one-shape-from-another).

[2016-04-09 14:45] tjvr commented on #97
@as-com Ah, so you _can_ do a sort of boolean operation! Feel like doing me another proof-of-concept? :)

[2016-04-09 14:46] tjvr opened #98 "Add Export SVG button to homepage"
Similar to the one in <https://github.com/tjvr/scratchblocks/blob/master/src/index.html#L248>.

In fact, we need to update the entire homepage.

[2016-04-10 13:16] tjvr commented on #90
Started work on branch [new-parser](https://github.com/tjvr/scratchblocks/tree/new-parser). Going well so far!

With the old renderer/parser: scratchblocks2.{js,css} + block_images weighed ~65K minified (18K gzipped).
So far, the new scratchblocks.js weighs ~26K minified (9K gzipped). Win!

[2016-04-10 18:09] tjvr opened #101 "Add multi-line rings"
I think this would be sufficient to represent any script from [Snap!](http://snap.berkeley.edu/).

[2016-04-10 20:45] #31 closed

[2016-04-10 23:15] tjvr commented on #97
@as-com Took me a while to figure out (eg. the outer shape has to be drawn counterclockwise), but that works great. Thanks again!

[2016-04-11 09:23] #97 closed

[2016-04-11 09:24] tjvr opened #103 "Add SVG comments"
I nearly forgot about these

(Do we really need them anyway?!)

[2016-04-11 10:29] #103 closed

[2016-04-11 10:52] liam4 commented on #103
It'd probably be nice if there was some kind of maximum width to comments...

![comments](https://cloud.githubusercontent.com/assets/9948030/14424940/5b0451e4-ffba-11e5-85aa-b810ab277b8f.png)

[2016-04-11 11:11] #96 closed

[2016-04-11 11:13] tjvr commented on #103
@liam4 Maybe. In an ideal world, we might have proper multi-line comments, and layout those to the right of the script like Scratch does, so they don't overlap any of the other blocks.

As it is, this is the same behaviour as the current renderer, and no-one's complained about that yet. So I'm gonna leave this.

[2016-04-11 12:17] #98 closed

[2016-04-11 13:22] jupiterio opened #104 "Empty boolean slots do not work"
You probably know this, but I feel like it would be better for everyone if there where to be an issue about it here.

This is what appears in the testing page's console when you try to do it:
[code]

[2016-04-11 13:24] tjvr commented on #104
Please provide code examples when reporting :)

I didn't know about that, actually—thanks!

[2016-04-11 13:35] Airhogs777 commented on #104
I just stumbled upon this too. Here's one example:
`if < > then`
and here's an exmple from the Snap_!_ section of the wiki:
`<<>>`
neither renders at all

[2016-04-11 13:39] Airhogs777 opened #105 "Partial hat block name breaks"
The like `when @` doesn't render. I get this error in the console:
[code]

This may be frustrating for users who expect an update with every keystroke, since nothing renders while "when @ clicked" is being typed

[2016-04-11 13:46] Airhogs777 opened #106 "Empty inline stacks don't render"
`<{} = [1]>` fails to render. I get this error in the console:
[code]
`(::stack)` appears to throw the same error.

[2016-04-11 14:09] #104 closed

[2016-04-11 14:10] #106 closed

[2016-04-11 14:18] #105 closed

[2016-04-11 16:09] Airhogs777 opened #107 "Free-floating SVG comments don't render"
Comments that aren't attached to a block don't render
`//help` produces:
[code]

[2016-04-11 17:44] Airhogs777 opened #108 "Custom Hex Block Colors"
This would be low-priority since it's just for fun, but since you're rewriting the parser, would it be possible to allow hex values for block colors in the following format?
`block name :: #00f`

[2016-04-11 18:39] tjvr commented on #108
Really easily. Thanks!

[2016-04-11 22:55] Airhogs777 opened #109 "Escape Characters"
For the new parser, you could consider adding character escapes for scratchblocks syntax. Some cases I can imagine are these:
[code]

[2016-04-11 23:14] tjvr commented on #109
Duplicate of #18 (which is already fixed in the new parser).

As for `\::`, I considered this but decided not to implement it at
this time.

[2016-04-12 00:51] Airhogs777 commented on #109
That's awesome! Sorry, I should've checked for duplicates

[2016-04-12 01:43] Airhogs777 opened #110 "Custom definitions inconsistent for inline stacks"
When a curly-bracketed block is on its own line, it detects definitions correctly. When it's inline, it renders as obsolete.
[code]
Note: I haven't played with Snap! much, so I don't know which behavior makes it easier to notate

[2016-04-12 09:10] #109 closed

[2016-04-12 09:11] tjvr commented on #110
We'll fix this in the new parser.

[2016-04-13 16:03] jupiterio opened #112 "Stack ring blocks should have a cap block cut out"
In Snap! (and scratchblocks, not v3), stack ring blocks have a cap block cut out instead of a normal stack block cut out, always, even when a normal stack block is inside it.
[Snap!](http://i.cubeupload.com/bXEhoS.png)
[Old Scratchblocks](http://scratchblocks.github.io/#(%7B%7D%E2%96%B6%3A%3Aring%20grey)%0A(%7Bsay%20%5Bexample%5D%7D%E2%96%B6%3A%3Aring%20grey))
[NuScratchblocks](http://scratchblock

[2016-04-13 16:13] tjvr commented on #112
This is kind of a pain, so I decided it wasn't important. :)

[2016-04-13 16:13] #112 closed

[2016-04-14 01:15] as-com opened #113 "More "modern" technical design?"
Ideas:

- ES6 modules, using Rollup or Closure Compiler to build
- React-based website using [Preact](https://github.com/developit/preact) (more efficient/scalable to build)
- Encapsulation into a React component or just making a React renderer

[2016-04-14 09:17] tjvr commented on #113
No thanks. :)

[2016-04-14 09:17] #113 closed

[2016-04-14 17:08] Airhogs777 commented on #18
Other potentially escapable things:
[code]

[2016-04-14 22:52] as-com opened #114 "SVG Rendering broken in IE9-IE11, Safari 6.0"
IE11:
![](https://www.browserstack.com/screenshots/33c1c3f656ea944030f4dbd557c62b8dcaf5755e/win8.1_ie_11.0.png)

Safari 6.0:
![](https://www.browserstack.com/screenshots/33c1c3f656ea944030f4dbd557c62b8dcaf5755e/maclion_safari_6.0.png)

For IE11, I could not find any errors in the console.

[2016-04-15 00:19] tjvr commented on #114
Oh dear. Thanks for checking this in IE!

Any idea how to fix this? :)

[2016-04-15 00:25] tjvr commented on #114
Looks like IE is failing to add the SVG element to the page.

I also found this:

![screen shot 2016-04-15 at 01 24 05](https://cloud.githubusercontent.com/assets/639289/14547751/e2a2934a-02a8-11e6-886c-393e7f0f69ff.png)

[2016-04-15 17:38] tjvr commented on #113
@as-com I sent you an email with some further feedback on this.

[2016-04-15 17:45] #107 closed

[2016-04-15 17:45] tjvr commented on #107
Thanks!

[2016-04-15 18:18] #114 closed

[2016-04-15 18:18] tjvr commented on #114
Oops, [classList](http://caniuse.com/#search=classlist) isn't supported in those browsers.

[2016-04-15 18:31] tjvr opened #115 "Add "Export PNG" button"
I think this would be useful. I might wait until someone else requests it first.

Possibly using canvg to render the SVG?

I really hope we don't end up wanting `@1x` and `@2x` options...

[2016-04-15 18:32] tjvr opened #116 "SVG rendering in IE9"
The bevel filter doesn't work.
<img width="986" alt="screen shot 2016-04-15 at 19 17 16" src="https://cloud.githubusercontent.com/assets/639289/14571362/c0e3c92a-0340-11e6-852c-7f2f5b438ea0.png">
Options:
- Embed canvg and try rendering the SVG in JS
- Fallback to using borders or some other way of faking the effect
- Live with it: the colors and text are clearly visible, so the functionality of t

[2016-04-15 18:38] tjvr commented on #116
@as-com What do you think? :)

[2016-04-15 18:46] as-com commented on #116
I think it still looks better than v2, even without the filters, but it might be helpful to fall back to some inner stroke that is rgba(255, 255, 255, 64) for the top and left, and rgba(0, 0, 0, 64) for the bottom and right.

Thankfully, detecting SVG filter support is startling easy in JavaScript:
[code]
(from https://stackoverflow.com/questions/9739955/feature-detecting-support-for-svg-filters)

[2016-04-15 19:33] Airhogs777 commented on #115
If you serve files based on scratchblocks in the URL you may find that the project turns into a CDN

[2016-04-15 20:23] liam4 commented on #113
&lt;small&gt;Aww, not a public email? :(&lt;/small&gt;

[2016-04-15 21:23] as-com commented on #113
@liam4 Basically he said that he doesn't like React and does not trust using these compilers and new ES6 features.

[2016-04-15 21:30] tjvr commented on #108
Example: pink! All the pink
[code]

[2016-04-15 21:30] #108 closed

[2016-04-15 21:39] tjvr commented on #113
Basically, I'm a grumpy old person :P

I do trust compilers! I'm just too impatient to use them. My main point was that I'd rather spend time making things, than fiddling with build tools...

[2016-04-15 22:14] tjvr commented on #110
Having looked at this: the current behaviour of a block `{f}` on its own line parsing the same as a normal block `f` is completely insane, and will go away.

The way I'm going to implement custom block recognition, custom blocks inside rings shouldn't be an issue, so I'm going to close this. Thanks for reporting!

[2016-04-15 22:14] #110 closed

[2016-04-16 01:33] liam4 commented on #110
Will this break old scratchblocks usages? (not that it makes any sense - I agree - but it _may_ have been used on the forums occasionally..)

[2016-04-16 08:02] tjvr commented on #110
@liam4 Maybe. I've never seen it used. Regardless, the v3/3.1 release intentionally breaks backwards compatibility.

[2016-04-16 08:29] Airhogs777 commented on #110
How so? Besides being written better and working more consistently, how will the new parser be different?

[2016-04-16 16:19] #88 closed

[2016-04-16 16:21] tjvr opened #117 "Add Scratch 1.4 blocks"
The previous parser supported the following:
[code]
I'd like to remove these: we should encourage people to use the 2.0 versions of blocks. (And they might cause issues with the backpack plugin.) However, this might break existing scripts.

[2016-04-16 16:22] tjvr opened #118 "Fix "define""
The string `define` on its own (no trailing spaces) renders weirdly.

[2016-04-16 16:24] tjvr opened #119 "Check RTL support"
I do not know enough about RTL languages to know whether the new parser supports this correctly.

Relevant: #58

[2016-04-16 16:25] tjvr commented on #18
The new parser allows escaping `]` and `v`.
[code]

[2016-04-16 16:25] #18 closed

[2016-04-16 16:28] tjvr commented on #90
Rewrite parser #100 is now merged.

[2016-04-16 16:28] #90 closed

[2016-04-16 16:29] tjvr commented on #101
Fixed in cc4f0c5.

[2016-04-16 16:29] #101 closed

[2016-04-16 16:31] tjvr commented on #81
Fixed by 4ea41e6 / #100.

Comparing against v3.0:
[code]

As hoped, gzipping the translations is almost as good as the crazy array-based stuff we had before, and a lot less fragile.

[2016-04-16 16:31] #81 closed

[2016-04-16 16:34] tjvr commented on #64
We've now switched to using proper block specs instead of underscores, which should make this easier to fix.

[2016-04-16 16:36] tjvr commented on #35
The new parser fixes this.

[2016-04-16 16:36] #35 closed

[2016-04-16 16:36] tjvr commented on #72
The new parser fixes this.

[2016-04-16 16:36] #72 closed

[2016-04-16 16:58] liam4 commented on #117
Render as `:: undefined` (or whatever the error color is) with the old block shapes (i.e. `:: cstart` etc) maybe?

[2016-04-16 17:03] tjvr commented on #117
@liam4 That's a uniquely weird solution. I like it xD

[2016-04-16 17:09] liam4 opened #120 "Reporters with inputs are considered variables"
![demo](https://cloud.githubusercontent.com/assets/9948030/14582487/b2d80a48-03dc-11e6-8dbe-c763a0e376c6.png)

[code]

These should be `:: undefined`, right?

(EDIT: or is it `:: #F00` now?)

[2016-04-16 17:12] tjvr commented on #120
You're thinking of `obsolete`; this is the same as the old parser.

[2016-04-16 17:17] #120 closed

[2016-04-16 17:18] tjvr commented on #120
Fixed, thanks!

[2016-04-16 17:22] Airhogs777 commented on #117
I think scratchblocks should try to stay descriptive of whatever code people are trying to represent, unlike with Tosh it's not scratchblocks' job to make sure people's code works.

Then again, most of the use cases for those older blocks would be on the old 1.4 forums anyway, so I doubt removing them will break anyone's code.

[2016-04-16 17:22] tjvr opened #121 "Backpack plugin"
@hardmath123 Are you interested in finishing this? :)

The bad news is that the API completely changed, so you probably need to rewrite some code.

The good news is that there's now a sane API, with a sane AST, and a post-render hook; and scratchblocks now includes all the block selectors, so you don't have to manually translate them. So you shouldn't have very much new code to write.

Interested?

[2016-04-16 17:24] Hardmath123 commented on #121
Sure. The original code from many years ago lived scratchblocks2/backpack or some similarly-named repo if you want to take a look.

[2016-04-16 17:42] jupiterio opened #122 "Allow plural and singular for categories"
Self explanatory. I've seen this bug people (including myself)
Not for all categories, but for all that would logically go in both ways
[Example code](http://scratchblocks.github.io/v3.1/#variables%20%3A%3A%20variables%0Avariables%20%3A%3A%20variable%0Alist%20%3A%3A%20lists%0Alist%20%3A%3A%20list%0Aoperators%20%3A%3A%20operators%0Aoperators%20%3A%3A%20operator%0Aevents%20%3A%3A%20events%0Aevents%2

[2016-04-16 17:43] tjvr commented on #122
The `::` override hacks are "advanced" features anyway, so I don't want to add aliases for them. Sorry!

[2016-04-16 17:43] #122 closed

[2016-04-16 17:55] Airhogs777 opened #123 "Custom colors make dropdown backgrounds black"
[code]
The background of the dropdown is black for all custom colors

[2016-04-16 21:59] Jonathan50 commented on #88
Yayyyy

[2016-04-16 22:30] jupiterio commented on #123
This also happens with boolean slots
[code]

[2016-04-16 23:07] Airhogs777 opened #124 "when @ clicked"
This was an alias for "when flag clicked" in v2 and I believe it was pretty popular, its disappearance may break some code on the forums

[2016-04-16 23:11] tjvr commented on #124
That may be so. However, this behaviour was never intentional, and I have no qualms about removing it.

[2016-04-16 23:11] #124 closed

[2016-04-17 05:17] ethanhs opened #125 "Truncates exported SVGs at 189 bytes on FF45"
When I went to export some SVGs (very excited to try it out). And, well, for every svg file I try to export, the file is truncated to be 189 bytes...
The most basic example for when I download `when gf clicked` :

[code]

It is missing a lot of important data. So I tried some other files.
Below is a sampling (you will see they are all truncated at 189 bytes.
[block_templates.zip](https://github.co

[2016-04-17 14:07] tjvr commented on #125
Gosh, you're right! How odd.

[2016-04-17 14:13] #123 closed

[2016-04-17 20:59] #117 closed

[2016-04-17 21:01] tjvr commented on #121
@Hardmath123 You complained this was too hard, so I added `scratchblocks.toJSON(scripts)`, which should give you an array suitable for passing to Scratch. :)

[2016-04-17 21:25] tjvr commented on #121
Specifically you might find a215e8b useful

[2016-04-17 21:33] Hardmath123 commented on #121
Yaaaaaay :D

[2016-04-17 21:45] tjvr opened #127 "Update generator"
This should use v3.1, and the new `fromAST`/`stringify` APIs.

Still TODO:

- [x] Patch `Input.stringify()` to escape `]` in strings
- [x] Patch `Label.stringify()` to escape syntax there too (see #138)
- [x] Patch `fromJSON` to fix menu options (`_mouse_`, `_myself_`, `_stage_`, `_edge_`, `_random_`)
- [x] Add language dropdown to generator page (ref #33)
- [x] Patch `build_translations.py` so th

[2016-04-18 11:59] liam4 opened #128 "Loops aren't padding the content properly"
C blocks don't seem to be working..

![screenshot](http://u.cubeupload.com/liam/ScreenShot20160418at.png)

[code]

[2016-04-18 12:01] tjvr commented on #128
Want to look into this for me? Hopefully it's not to do with the RTL code I just added...

[2016-04-18 12:11] liam4 commented on #128
I'll try going back a commit or two to see which caused this..

[2016-04-18 12:15] liam4 commented on #128
Hmm.. `git pull`ing and running the HTTP server locally didn't produce the problem..

On the branch `master`:

![master screenshot](https://cloud.githubusercontent.com/assets/9948030/14603754/fcc8c358-0545-11e6-98a4-07fa29d81755.png)

On the branch `new-parser`:

![new-parser screenshot](https://cloud.githubusercontent.com/assets/9948030/14603745/eaa1c580-0545-11e6-8aee-b73dcdfa8cbc.png)

[2016-04-18 12:19] liam4 commented on #128
Looks like it's working again.. perhaps one of the resources wasn't loaded properly on my end? Closing for now unless it happens again.

[2016-04-18 12:19] #128 closed

[2016-04-18 13:54] TheLogFather opened #129 "Won't correctly parse <(a)>(b)>"
This has been a longstanding issue, and I've avoided it so far in the forums by (ab)using normal brackets for booleans instead of > and <.

But now that we have booleans rendered with the correct triangular sides, it'd be nice to have vars/expressions in (the left side of) comparison blocks parsed correctly.

(It is somewhat tricky to get this right when the expression has several levels of nestin

[2016-04-18 14:07] tjvr commented on #129
Hmm, both the old and the new parser have code to avoid this problem! Has this really been a bug for so long?

The relevant code is in https://github.com/tjvr/scratchblocks/blob/master/src/scratchblocks.js#L395 if you feel like sending a PR... :-)

[2016-04-18 15:30] jupiterio commented on #129
I was taught to add spaces before and after the signs so that doesn't happen :P

Though, in the new parser, that happens with and without spaces.

[2016-04-18 17:43] arve0 commented on #115
Also relevant: https://www.npmjs.com/package/svg-to-image

[2016-04-18 22:15] tjvr commented on #115
@arve0 Thanks! I hadn't realised you can just draw an SVG onto a canvas using the native renderer :-)

[2016-04-19 08:45] #129 closed

[2016-04-19 09:25] tjvr commented on #129
Should be fixed now. Let me know if you find any bugs still!

[2016-04-19 09:26] tjvr commented on #127
This should work now (sorta). Let me know if you spot any problems.

[2016-04-19 09:28] tjvr commented on #115
Added. Let me know if it doesn't work for you!

[2016-04-19 09:28] #115 closed

[2016-04-19 09:29] #83 closed

[2016-04-19 09:32] tjvr commented on #125
Theory: the `#` character is invalid in URLs.

[2016-04-19 09:53] #125 closed

[2016-04-19 09:55] tjvr commented on #125
Looks like that fixed it :)

[2016-04-19 12:55] ethanhs commented on #125
Looks good! Thanks. :smile:

[2016-04-19 13:39] tjvr opened #130 "What does RTL-math mean?"
Ref #58.

[2016-04-19 13:41] tjvr opened #131 "Translate image replacements"
At the moment, aliases seem to get translated to English.

[Example](http://scratchblocks.github.io/#?lang=he&script=כאשר%20לוחצים%20על%20%40greenFlag)

[2016-04-19 15:35] TheLogFather commented on #129
Looking good!
Even seems to be working for quite complicated cases, with multiple types of nested operators, etc. :)

[2016-04-19 16:16] NoMod-Programming opened #132 "Allow coloring rings"
Right now, the scratchblocks parser doesn't support rings of different colors. So if you try to parse the following:
`({Notice how the ring has no color whatsoever} ▸ ::0000FF)`
, the ring doesn't have a custom color. Obviously, this isn't a big issue, but it would concern the aesthetics of scratchblocks3, so that everything could have a custom color of some sort.

[2016-04-19 16:37] tjvr commented on #132
You didn't use a proper hex color... you're missing a hash

[2016-04-19 16:54] jupiterio commented on #132
Why not close it then? It works correctly with the hash :)

[2016-04-19 16:58] tjvr commented on #132
Excellent! Glad to hear it.

[2016-04-19 16:58] #132 closed

[2016-04-20 01:08] PullJosh commented on #93
Submitted PR to website's repo:
https://github.com/scratchblocks/scratchblocks.github.io/pull/3

[2016-04-20 12:55] arve0 opened #133 "Bug: Parsing () / () as "obsolete" instead of "operators""
I have this code (norwegian)

[code]

which renders like this
![image](https://cloud.githubusercontent.com/assets/4810521/14674910/8e566ed0-0706-11e6-8447-af2fed218226.png)

The correct should be
![image](https://cloud.githubusercontent.com/assets/4810521/14674920/a10230b4-0706-11e6-8ce8-a8a1edad6add.png)

Whats strange, is that I'm [unable to reproduce at scratchblocks.github.io](http://scratchbl

[2016-04-20 13:27] gahjelle commented on #133
This seems to be a problem for all operators blocks, not just the `(() / ())`. In http://arve0.github.io/oppgaver/scratch/gangemesteren/gangemesteren.html we are for instance using `*` and `=`.

[2016-04-20 13:53] arve0 opened #134 "Question: Translation reported 85.4%, but 100% at translate.scratch.mit.edu"
When running `build_translations.py` I get this:

[code]

Take the first line, `turn %m.motor on for %n seconds`, [it is translated](http://translate.scratch.mit.edu/nb/blocks/translate/#search=turn%20motor&sfields=source,target&unit=373485).

[2016-04-20 13:57] liam4 commented on #134
You might notice lots of those are the old, obsolete Scratch pre-2.0 blocks.

[2016-04-20 14:01] arve0 commented on #134
Aha, it's `turn %m.motor on for %n`**`secs`**.

[2016-04-20 14:04] arve0 commented on #134
In other words, [commands.js](https://github.com/tjvr/scratchblocks/blame/master/src/commands.js#L152) should be updated?

[2016-04-20 14:55] tjvr commented on #133
Which languages do you have loaded? Have you loaded both Norwegian and English, or just Norwegian?

[2016-04-20 15:15] arve0 commented on #133
Just norwegian.

[2016-04-20 15:20] arve0 commented on #133
Fixed when loading english too.

[code]

[2016-04-20 15:27] arve0 opened #135 "Bug: "when green flag clicked" rendered in wrong language"
**What happens**
Code renders to English.
![image](https://cloud.githubusercontent.com/assets/4810521/14680274/04c172de-071d-11e6-8b53-dc2b5bf7cf74.png)

**Expected**
Image should be in same language.

http://scratchblocks.github.io/#?lang=nb&script=n%C3%A5r%20gr%C3%B8nt%20flagg%20klikkes%0A

[2016-04-20 15:30] tjvr commented on #133
I should probably fix this

[2016-04-20 16:00] arve0 commented on #135
Duplicate, #131

[2016-04-20 16:00] #135 closed

[2016-04-20 16:40] tjvr commented on #135
I've already fixed this in master, thanks!

[2016-04-21 09:00] tjvr commented on #134
Scratch 2.0 appears to have two different WeDo plugins:
<img width="199" alt="screen shot 2016-04-21 at 09 59 24" src="https://cloud.githubusercontent.com/assets/639289/14703447/c50b6c0e-07a7-11e6-8d01-0bdcef9d8be7.png">
`commands.js` includes both of them. It's possible that Pootle doesn't include those blocks in the 100% score?

[2016-04-21 09:44] #131 closed

[2016-04-21 09:46] tjvr commented on #135
Now fixed!

[2016-04-21 09:53] tjvr opened #136 "Deploy to Scratch Forums"
See https://github.com/LLK/s2forums/pull/1340.

Still TODO:

- [x] Add [backpack plugin](https://github.com/scratchblocks/backpack)
- [x] Put back `palette` strings into translations.js (revert b758185?)
- [x] Unbreak `menu.js`
- [x] Merge https://github.com/LLK/s2forums/pull/1334
- [x] Finish scratchblocks v3.1

[2016-04-21 10:16] liam4 commented on #136
What do you mean by that? There certainly aren't 1334 pull requests (+ issues)..

[2016-04-21 10:49] tjvr commented on #136
@liam4 Oops, that made more sense before I copy/pasted that todo list here. Fixed.

[2016-04-21 10:50] tjvr commented on #136
If anyone wants to take responsibility for finishing/testing this, that would be fine by me. You can send a PR to the branch my PR is based on! The best way for testing it appears to be manual HTML rewriting and/or proxying s.m.e requests.

[2016-04-21 10:56] tjvr commented on #93
Finished. Thanks @PullJosh!

[2016-04-21 10:56] #93 closed

[2016-04-21 11:02] tjvr opened #137 "C-block comments at wrong height"
Comments are vertically centred with the height of the entire block.

<img width="689" alt="screen shot 2016-04-21 at 12 02 19" src="https://cloud.githubusercontent.com/assets/639289/14706829/eabd4d12-07b8-11e6-8d23-073fa056d019.png">

We should centre them according to the height of the first line, not the entire block.

[2016-04-21 11:08] tjvr opened #138 "Escape syntax"
Ref #18, #109

It's now possible to escape `]` inside strings, using a backslash: `\]`

Should we allow escaping other characters too, eg `:`, `<`, `}` ?

[2016-04-21 11:09] tjvr commented on #138
You can try this in the `escape` branch. Tell me if it breaks anything.

[2016-04-21 20:20] Choco31415 opened #140 "v2 trimmed unicode space characters"
If you don't know already, there exist multiple space characters in unicode. The Scratchblocks plugin seems to parse all non-normal space characters as part of a block. In this specific example, I use u+2002 (normal space is u+0020): http://i.cubeupload.com/rCzHZY.png

v2 of the Wiki scratchblocks plugin does not have this bug.

[2016-04-21 23:52] tjvr commented on #140
Huh. This is because v2 uses `String::trim()`; whitespace characters inside a block [won't be ignored](http://scratchblocks.github.io/v2/#%E2%80%82%E2%80%82%E2%80%82%E2%80%82%E2%80%82foo%E2%80%82%E2%80%82%E2%80%82%E2%80%82%E2%80%82bar%20%E2%80%82%E2%80%82%E2%80%82%E2%80%82).

Does this matter?

[2016-04-22 01:59] Airhogs777 opened #141 "cend cap syntax"
In the new parser there's no way to specify that the end of a c-block is also a cap. Fix could be any of the following:

* a new block shape
* the option to use both block shape names
* `end :: cap` (which doesn't allow for text in the cend)

[2016-04-22 02:06] Choco31415 commented on #140
I'm not 100% sure. It's hard to check the wikis to see where non-standard space characters are used. The one hot spot where I thought those would have been used, the Japanese wiki, does not seem to use any. I will bring this up in next week's Scratchclub and hopefully we'll get a clearer picture then. (I will do so with case-sensitivity.)

[2016-04-22 03:08] Choco31415 opened #142 "Comment rendering glitches in Firefox/Edge"
Comment rendering is a bit off in Firefox and Edge:

Firefox v.45.0.2
http://i.cubeupload.com/YFTN2C.png

Edge
http://i.cubeupload.com/dqBrSx.png

There are two interesting things to note. This bug seems to only occur on Windows. No Mac browsers, including Firefox v.45.0.2, are affected. On the PC, Chrome v.49.0.26 is unaffected.

Secondly, this bug occurs way more frequently on my test mediawiki

[2016-04-22 08:10] tjvr commented on #142
Huh. I don't understand why this would happen. Can you give some idea of how to reproduce it?

[2016-04-22 08:35] tjvr commented on #130
It appears I answered my own question, two years ago :) https://github.com/tjvr/scratchblocks/issues/58#issuecomment-67953012

[2016-04-22 09:05] tjvr commented on #64
Hmm, having looked into this I can't find any examples of blocks with reordered inserts. Maybe there was a bug in your script?

Additionally, the new way of implementing RTL seems to fix this :)

<img width="292" alt="screen shot 2016-04-22 at 09 59 19" src="https://cloud.githubusercontent.com/assets/639289/14736946/95ea6f0e-0871-11e6-8f22-44e9ea3ce91d.png">

Feel free to comment/raise a new issue

[2016-04-22 09:11] #137 closed

[2016-04-22 10:07] tjvr commented on #119
Looks like we're not rearranging words properly:

<img width="292" alt="screen shot 2016-04-22 at 09 59 19" src="https://cloud.githubusercontent.com/assets/639289/14738601/66b46f24-087a-11e6-8dcb-0d0df9231893.png">

This is because we sometimes have Labels which contain multiple words.

[2016-04-22 10:20] tjvr opened #143 "Image replacements in wrong language"
If you select German, and write an image-replacement block in English, the icon does not appear.

http://scratchblocks.github.io/#?lang=de&script=when%20flag%20clicked%0A

[2016-04-22 10:21] tjvr opened #144 "Export buttons are flickery"
The Export SVG/PNG buttons are flickery, and sometimes don't appear (or, rarely, you get three of them!)

[2016-04-22 10:34] tjvr commented on #143
This doesn't work either:

http://scratchblocks.github.io/#?lang=de&script=Wenn%20%E2%9A%91%20angeklickt%0Adrehe%20dich%20%E2%86%BB%20um%20(9)%20Grad

[2016-04-22 10:38] tjvr commented on #65
We now have one of these at http://scratchblocks.github.io/translator/.

[2016-04-22 10:38] #65 closed

[2016-04-22 10:40] tjvr opened #145 "Translator fixes"
For <http://scratchblocks.github.io/translator/>.

Still TODO:

- [x] Translate `define`
- [x] Translate menu input options

[2016-04-22 10:40] #64 closed

[2016-04-22 10:41] #134 closed

[2016-04-22 11:57] Choco31415 commented on #142
On the github scratchblocks page, I copied the "move (10) steps // comment" block until I had 2-3 pages of the thing. I think it's important to had 2-3 pages instead of 1 page. Then, I scrolled through the script on the left and saw oddly rendered comments. Very occasionally, no comments would be bugged, at which point adding more blocks prompted some bugs to show again.

In the Mediawiki implemen

[2016-04-22 13:23] tjvr opened #146 "Arguments to "else" lines"
They seem to overlap the text.

[code]

![elanjc](https://cloud.githubusercontent.com/assets/639289/14758092/ff001a08-08f2-11e6-84d2-664ca8db0f5e.png)

(From https://scratch.mit.edu/discuss/post/1937267/ )

[2016-04-22 13:23] tjvr opened #147 "Custom end blocks can't have text"
This is arguably not important.

[2016-04-22 13:29] tjvr commented on #141
This would make sense unless we fix #147.

NB. I think `cap` should be an argument to the cstart, anyway.

[2016-04-22 14:25] jupiterio commented on #141
Related.
Any cend (either specified with :: or not), with cap, [bugs](http://scratchblocks.github.io/#if%20%3C%3E%20then%0A%0Aend%20%3A%3A%20cap%0A%0Afake%20C%20%3A%3A%20grey%20cstart%0A%20%20baz%20%3A%3A%20operators%0Aend%20%3A%3A%20cap%0A%0Atest%20%3A%3Acontrol%20cstart%0A%20%20say%20%5Bhello%5D%0Asee%20%5Basd%5D%20%3A%3Acelse%0A%20%20say%20%5Bit's%20me%5D%0Atesting%20%3C%3E%20%3A%3Acelse%0A%20%

[2016-04-22 14:35] liam4 commented on #147
Okay.. *argues*

Please add this feature again..

[2016-04-22 16:56] Airhogs777 commented on #141
As in, the `cstart` block should define the whole block shape? Since `celse` is its own block, I think the de-facto paradigm here is that parts of c-blocks are defined by their own blocks/lines.

I think it's the "cap" shape taking precedence, which in this case means it's a cap-stack

[2016-04-22 16:58] Airhogs777 commented on #146
I believe that's how Scratch would render that block, if it existed

[2016-04-22 16:59] Airhogs777 commented on #147
+1 for this option

[2016-04-22 17:54] Airhogs777 commented on #143
Same issue in translator, even before a second language is loaded: http://scratchblocks.github.io/translator/#when%20flag%20clicked

[2016-04-22 20:26] Choco31415 commented on #142
I've tested the scratchblocks plugin on a few other PC's, and have not been able to replicate this bug yet. This makes me assume that the bug is local to my PC, however I don't see what's special about it.

[2016-04-22 22:35] tjvr commented on #147
@liam4 the correct approach is to provide a use case :P

[2016-04-22 22:43] tjvr commented on #141
New plan: remove cstart and celse and cend; I've never liked them, and they're clearly too confusing.

You'll be able to create custom c blocks using the { } embedded script syntax.

[2016-04-22 22:55] liam4 commented on #141
Demo?

[2016-04-23 00:20] Airhogs777 commented on #141
The {} syntax can create c-blocks? I thought that was only for Snap! stuff. Will it allow the kind of fine control that cstart/else/end do (or at least probably should)?

[2016-04-23 00:25] Airhogs777 commented on #147
The first thing that comes to mind is someone modding Scratch to add a do-while block

[2016-04-23 00:28] #141 closed

[2016-04-23 00:28] #147 closed

[2016-04-23 00:29] tjvr commented on #141
Example:
[code]

[2016-04-23 00:31] Airhogs777 commented on #141
that's very cool, I approve

[2016-04-23 00:40] Airhogs777 opened #148 "allow existing c-blocks to use bracket notation"
It's inconsistent that existing c-blocks still use the `end` notation.

example: http://scratchblocks.github.io/#if%20%3C%3E%20then%20%7B%0A%7D%20else%20%7B%20%0A%7D%0A%0Aforever%20%7B%0A%7D

...these should be recognized and the `forever` block should have the `cap` shape and repeat-arrow applied

[2016-04-23 00:41] tjvr commented on #148
I don't think this is important.

[2016-04-23 00:41] #148 closed

[2016-04-23 00:49] as-com commented on #144
You could keep the links static, and use JavaScript to open the exported image.

[2016-04-23 00:51] tjvr commented on #143
Fixed.

[2016-04-23 00:51] #143 closed

[2016-04-23 00:52] tjvr commented on #144
@as-com I was thinking of leaving the links there, and just changing the src property.

[2016-04-23 01:03] Jonathan50 commented on #138
Yes please!

[2016-04-23 01:43] liam4 commented on #141
That's pretty cool! :tada:

![demo](https://cloud.githubusercontent.com/assets/9948030/14758586/99d0975a-08db-11e6-8b1f-6b8acec334af.png)

[code]

I did notice that the branches/ends aren't quite tall enough, though..

[2016-04-23 02:34] jupiterio commented on #141
This will break many scripts now :package:

Still, i feel like it has more upsides than downsides

[2016-04-23 03:41] Airhogs777 commented on #141
It's using the dimensions that Scratch uses to render blocks. For example, the word `else` looks right at this block height because it doesn't have a down-hanging letter like `g` or `y`, but words with those letters make it look too short.

[2016-04-23 04:00] Airhogs777 commented on #146
When there are blocks inside the arguments they'll actually outgrow the parent block: http://scratchblocks.github.io/#foo%20%7B%0A%7D%20bar%20%3Cbaz%3A%3Aoperators%3E%20%7B%0A%7D

[2016-04-23 04:05] Airhogs777 opened #149 "reporter and boolean-shaped "..." asymmetrical"
the ellipsis in `(...::)` and `<...>` is shifted slightly to the right. It might just be by a pixel or two but it stuck out to me.

[example](http://scratchblocks.github.io/#...%20%3A%3A%20hat%0A%3C...%3E%0A(...%3A%3A)%0A...)

[2016-04-23 05:17] jupiterio commented on #149
I don't see it. It looks pretty normal for me.
http://i.cubeupload.com/rFaSzb.png

[2016-04-23 05:44] Airhogs777 commented on #149
Hm, it may be the font rendering on my computer. http://i.cubeupload.com/mc1m2F.png

[2016-04-23 09:53] arve0 commented on #142
I can confirm the bug. Windows 10, Microsoft Edge.
![image](https://cloud.githubusercontent.com/assets/4810521/14760652/000ca04a-094a-11e6-88a2-060ae2deb98a.png)

[2016-04-23 18:32] jupiterio commented on #149
I just checked by zooming in. Still normal. So, definitely the font rendering.

[2016-04-23 19:27] tjvr commented on #142
@arve0 Yes, that's a different glitch. One that I fixed recently; are you using the latest master?

[2016-04-23 21:37] tjvr opened #150 "Make the layout of this repo match the homepage"
This would make my life a lot simpler.

[2016-04-23 21:49] tjvr commented on #149
There are supposed to be spaces anyway, oops.

[2016-04-23 21:49] #149 closed

[2016-04-23 21:49] tjvr commented on #138
I hope this doesn't break anything.

[2016-04-23 21:51] #138 closed

[2016-04-23 22:36] tjvr commented on #121
I think we just need to merge this now :)

[2016-04-23 22:37] #145 closed

[2016-04-23 22:52] tjvr commented on #127
Everything above is done.

[2016-04-23 22:52] #127 closed

[2016-04-23 23:03] #118 closed

[2016-04-23 23:47] tjvr opened #151 "Use aliases for stringify"
This affects:
- translation
- generator
- menu.js

[2016-04-23 23:51] tjvr opened #152 "Parse empty number-dropdowns correctly"
ie. `( v)`

[2016-04-24 13:17] arve0 commented on #142
No, I was not on latest master. Will check again.

[2016-04-24 18:38] tjvr opened #153 "Don't allow comments inside reporters"
We could require escaping `/`, but that just seems rude.

http://scratchblocks.github.io/#call%20(http%3A%2F%2F%5Bparty%5D)

We normally auto-close parens at a newline, but requiring them to be closed before comments seems completely reasonable.

[2016-04-24 19:50] #153 closed

[2016-04-24 19:50] tjvr commented on #152
This is hard because currently we ignore spaces.

[2016-04-24 19:53] #152 closed

[2016-04-24 20:04] #119 closed

[2016-04-24 20:22] #151 closed

[2016-04-24 20:50] Airhogs777 opened #154 "Icon replacements don't always escape"
In the case of a non-aliased block, icon names are escaped correctly:
[code]
but in the case of `when @greenFlag clicked`, all backslashes are ignored:
[code]

[2016-04-24 21:13] tjvr commented on #154
That is indeed a quirk of the implementation.

Does this matter?

[2016-04-24 21:27] Airhogs777 commented on #154
I can't imagine it'll cause anyone any problems, but I guess it's something to be aware of

[2016-04-24 21:37] Airhogs777 opened #155 ""forever {}" has if/else shape"
`forever {}` is recognized as a `control cstart` but the brackets create another c-area, so you end up with two.
[example](http://scratchblocks.github.io/#forever%20%7B%7D%0Aend%0A%0Aforever%20%7B%0A%20foo%0A%7D%0A%20bar%0Aend)
I still think the best solution here would be to allow bracket notation in the place of end-notation, if that's technically feasible

[2016-04-24 21:59] tjvr commented on #155
The new `{}` notation is explicitly designed to be for making custom things and hacks, so it's _deliberately_ experimental/unsupported behaviour and may change in future.

[2016-04-25 13:28] Airhogs777 opened #156 "add block-shape classes to SVG"
It'll make the output easier to navigate programmatically if either the parent `g` tag or the block's background `path` has a class with its shape

I actually have a use case for this one: while writing [this](http://jsfiddle.net/Airhogs777/0ouwy7s8/embedded/result/) I had to resort to block color to identify the reporters

[2016-04-25 19:43] Choco31415 opened #157 "Case Sensitivity"
Blob8108, I asked the international Scratch Wiki and they do not want case sensitivity because of the potential problems it can cause.

[2016-04-25 20:35] tjvr commented on #157
What problems are those? :)

[2016-04-25 20:37] Choco31415 commented on #157
Blocks turning red because you just happen to use a capital "M" somewhere instead of a regular "m".

[2016-04-25 22:36] tjvr commented on #157
That is how it works, yes. You're not really giving me a reason why it's bad :)

[2016-04-25 23:13] Choco31415 commented on #157
Having case sensitivity would break several existing scripts in the international Scratch Wikis. I have confirmed that the international wikis do use incorrectly capitalized blocks. Ex: http://scratch-dach.info/wiki/Ändere_Lautstärke_um_()_(Block) Although there are not many such pages, it would not be nice to have to find all of them and fix them.

( That and I found a German block that doesn't w

[2016-04-26 01:53] jupiterio opened #158 "Stack ring blocks don't render correctly anymore"
Don't know if the syntax for them has changed, and haven't seen anything really that has mentioned it. Maybe it's the new custom C block syntax?

[Example](http://scratchblocks.github.io/#(%7Bsay%20%5Btest%5D%7D%20%E2%96%B8)%0A(%7Bsay%20%5Btest%5D%7D%20%40addInput))

[2016-04-26 10:26] tjvr commented on #158
Poop.

[2016-04-26 13:02] tjvr commented on #156
I don't really understand why you'd want to navigate the output programmatically. This isn't really an intended use case.

[2016-04-28 23:14] #158 closed

[2016-04-28 23:15] #155 closed

[2016-04-28 23:15] #154 closed

[2016-04-28 23:16] #142 closed

[2016-04-28 23:16] tjvr commented on #142
If anyone else can reproduce the issue in the OP, let me know.

[2016-04-28 23:16] #140 closed

[2016-04-28 23:18] tjvr commented on #157
This makes me sad, but the argument about fixing the pages is mildly persuasive.

[2016-04-28 23:18] #157 closed

[2016-04-28 23:48] #146 closed

[2016-04-28 23:52] tjvr commented on #146
The layout for these still isn't perfect, but since they're a hack anyway I figure that's ok

[2016-04-29 00:03] #144 closed

[2016-04-29 11:33] #136 closed

[2016-04-29 11:33] #121 closed

[2016-04-29 11:40] tjvr commented on #33
Done! See <http://scratchblocks.github.io/generator/>

[2016-04-29 11:40] #33 closed

[2016-04-29 11:42] tjvr commented on #65
Added "swap" button feature too

[2016-04-30 06:41] Jonathan50 commented on #155
What is it for? Can't what it's used for already be done with `:: cstart`, `:: celse`, `end` and `:: cend`? Is it documented somewhere?

[2016-04-30 06:43] Jonathan50 commented on #155
[code]
doesn't seem to work... :confused:

[2016-04-30 06:50] Jonathan50 opened #159 "Booleans with inputs don't work with the {} syntax"
[code]
works fine, and
[code]
works too, but
[code]
messes stuff up.

It's probably a parser issue because
[code]
works fine...

[2016-04-30 06:59] Airhogs777 commented on #155
Iirc, `:: cstart`, `:: celse`, and `:: cend` no longer work -- this is their replacement. It also lets you create text in the "foot" of the c-block.

[2016-04-30 07:06] tjvr commented on #159
Specifically, the hack we use for recognising `<>` as comparisons (and not syntax) is "is it between two inputs". Your problem here is that {} is an input!

[2016-04-30 07:08] Jonathan50 commented on #155
Oh, right.

That could already be done:
[code]

[2016-04-30 07:09] Jonathan50 commented on #159
Oh.

[2016-04-30 07:10] tjvr commented on #155
@Jonathan50 Relevant: #141

[2016-04-30 07:38] Jonathan50 commented on #141
Why is that song so popular? I've actually never heard it playing on the radio/TV/anything else... (Not that I listen to the radio much)

[2016-04-30 07:42] Jonathan50 commented on #147
The Scratch 2.0 alpha WHILE should have been called REPEAT WHILE, to match up with the other blocks \</completely-unrelated\>

[2016-04-30 14:56] tjvr opened #160 "Add cloud variable ☁ to scratchblocks menu"
For `menu.js`: `['readVariable', '☁ highscore']`.

[2016-04-30 15:05] tjvr opened #161 "Backpack plugin should add to beginning"
...and not the end

[2016-04-30 15:26] jupiterio commented on #141
Probably because of the plain "Hello". How someone made a song based on one of the simplest words and one of the words that people first think of when asked: _Hello_ (But probably not say it because it's too dumb)
Just like Lionel Richie's Hello
_(Is it me you're looking for?)_

Also IMO the song is pretty nice.

[2016-04-30 15:47] tjvr opened #162 "Check backpack plugin works for cloud variables"
It probably doesn't.

[2016-05-01 20:26] theonlygusti opened #163 "Parsing fails on lots of angle-brackets"
See this post on the forums: https://scratch.mit.edu/discuss/topic/195968/?page=5#post-1955054

It used this code:

    <<(a) = <(b) < (b)>> < (b)>

Which should have produced ![http://i.cubeupload.com/bAZO2e.png](http://i.cubeupload.com/bAZO2e.png) but actually produced ![http://i.cubeupload.com/7mtpKt.png](http://i.cubeupload.com/7mtpKt.png)

This is still a problem in the latest version: [see h

[2016-05-01 20:27] theonlygusti commented on #163
Might not be the parsing which is failing, but something definitely is 😝

[2016-05-01 20:29] theonlygusti commented on #159
@tjvr That hack probably broke something else: https://github.com/tjvr/scratchblocks/issues/163

[2016-05-01 21:40] tjvr commented on #163
It's a parser quirk, yes. I'd hesitate to call it a bug, since this will happen only very rarely in real Scratch code (if it's possibly at all!).

The way the scratchblocks parser has worked since v2 is to treat gt/lt symbols as labels iff they occur between inputs; otherwise they are parsed as syntax.

[2016-05-01 23:33] Airhogs777 commented on #163
Also, this code can be achieved with escaping: `<<(a) = <(b) < (b)>> \< (b)>` ([link](http://scratchblocks.github.io/#%3C%3C(a)%20%3D%20%3C(b)%20%3C%20(b)%3E%3E%20%5C%3C%20(b)%3E))

[2016-05-01 23:39] Airhogs777 commented on #159
I can't find a way to fix this with escaping alone, although the `([a] = [b] :: boolean)` workaround is a simple enough solution. Another option is for the bool-finding portion of the parser to ignore `{}` as inputs

[2016-05-02 10:23] theonlygusti commented on #163
@tjvr This is possible in Scratch (hence the screenshot) but if @Airhogs777 's workaround will work in v3 then it seems it will be okay.

[2016-05-02 10:34] tjvr commented on #163
Solved using escaping.

[2016-05-02 10:34] #163 closed

[2016-05-02 13:37] Airhogs777 commented on #163
One real-life situation where this might happen is when someone compares booleans by casting them to numbers (not sure why you would but you could).

Does the generator accommodate for this kind of situation?

[2016-05-04 16:59] banana439monkey opened #164 "This isn't an issue..."
How do I use this plugin on http://askawayteamforums.boards.net

[2016-05-04 17:12] liam4 commented on #164
Depends on if that forum supports scratchblocks or not.

[2016-05-04 23:05] #164 closed

[2016-05-05 06:49] banana439monkey commented on #164
it uses proboards

[2016-05-05 10:16] liam4 commented on #164
I don't think there's a scratchblocks plugin for proboards. I have no idea how different it is from other forum (or similar) software but perhaps looking at [wiki-scratchblocks](https://github.com/tjvr/wiki-scratchblocks) might help you make your own plugin?

[2016-05-05 18:02] banana439monkey commented on #164
I actually want to use the scratchblocks plugin. :P

On 5 May 2016 at 11:16, Liam <notifications@github.com> wrote:

--
*Got a problem or a question? Help? Ask away and I'll help! It's not like I
won't. <https://scratch.mit.edu/users/banana439monkey>*

[2016-05-05 18:05] banana439monkey commented on #164
btw, what language is the sb plugin made in?

[2016-05-05 18:27] liam4 commented on #164
Looks like PHP?

[2016-05-05 20:39] Choco31415 commented on #164
Actually, it's javascript with a touch of PHP.

Anyway, if you want to add this to your website, you'll first need to include a JS library. Then you'll need to parse the page for <scratchblocks> tags and replace those with <pre class="blocks"></pre>. Finally, you'll need to run this JS command: scratchblocks.renderMatching("code.blocks", {languages: ["en"]});

[2016-05-06 06:56] banana439monkey commented on #164
Ah. :/ Any way I can download the whole website, like mediawiki?
http://askawayteamforums.boards.net/

On 5 May 2016 at 21:39, Choco31415 <notifications@github.com> wrote:

--
*Got a problem or a question? Help? Ask away and I'll help! It's not like I
won't. <https://scratch.mit.edu/users/banana439monkey>*

[2016-05-07 11:59] MegaCode18 opened #165 "Bug: Parameter names not displaying in the generator"
Whenever I import a custom block, the parameter name is always `r`. This (I think) is due to the fact that you read the wrong value in the JSON: You are reading `["getParam", <parameter name>, "r"][2]`, instead of `["getParam", <parameter name>, "r"][1]`. For example, the Leafino text engine looks like this:

![Scratcblocks code uses 'r' for parameters, instead of parameter name](http://u.cubeuplo

[2016-05-07 12:18] tjvr commented on #165
I'd actually fixed this in master, but not updated the website. Fixed, thanks!

[2016-05-07 12:18] #165 closed

[2016-05-07 12:19] tjvr opened #166 "Don't recognise parameters as blocks"
Seen in #165.

[Example](http://scratchblocks.github.io/#define%20foo%20(size)).

[2016-05-07 12:20] tjvr commented on #166
...on the other hand, this was half [already a bug](http://scratchblocks.github.io/v2/#define%20foo%20(size)%0Asay%20(size))

[2016-05-07 12:21] #166 closed

[2016-05-09 21:13] Choco31415 opened #167 "String measuring is slow"
Earlier I got to test the Scratchblocks v3 plugin on the international Test Wiki. MartinWollenweber and I tried it on this page: http://test.scratch-wiki.info/wiki/User:Mtwoll/s2

The page currently uses v2 of the Scratchblocks plugin, and the page renders all tags in less then a second. However, when I was testing v3, the page was taking over a minute to fully render. See:

http://i.cubeupload.co

[2016-05-09 23:12] tjvr commented on #167
CPU profile:
<img width="380" alt="screen shot 2016-05-10 at 00 11 17" src="https://cloud.githubusercontent.com/assets/639289/15130931/eb29b03a-1643-11e6-8a3b-919f63214551.png">

[2016-05-09 23:14] tjvr commented on #167
Oops. It turns out we create a hidden SVG for measuring strings for *each* call to `render()`. This is undesirable.

In addition, we could (and probably should) cache the strings.

[2016-05-10 00:56] tjvr commented on #167
@Choco31415 I wrote a patch for this. Have a look at #168 and let me know if that solves the problem (ie. if that speeds it up).

[2016-05-11 02:57] Choco31415 commented on #167
I will check it out tomorrow.

[2016-05-12 03:40] Choco31415 commented on #167
I have confirmed that it works much faster now. There are about two seconds between when the page loads and when the blocks render.

[2016-05-13 21:01] #167 closed

[2016-05-18 17:41] tjvr commented on #159
This one can also be solved using escaping, [for example](http://scratchblocks.github.io/#if%20%3C%5Ba%5D%20%3D%20%5Bb%5D%3E%5C%20%7B%0A%7D%20else%20if%20%3C%5Bc%5D%20%3D%20%5Bd%5D%3E%5C%20%7B%0A%7D%20%3A%3A%20control).

[2016-05-18 17:41] #159 closed

[2016-05-18 18:14] tjvr opened #169 "Add @cloud for ☁"
@hardmath123 wins.

[2016-05-18 18:15] Hardmath123 commented on #169
Yaaaaay! What prompted this? :-)

[2016-05-18 18:16] tjvr commented on #169
Well, you were arguing for this the other day :P

Want to implement it for me? xD

[2016-05-18 20:38] theonlygusti commented on #163
@Airhogs777 That is exactly the reason that I needed to do this.

[2016-05-18 22:46] Airhogs777 commented on #159
Wait, so a backslash before a > escapes it and a backslash after ensures that it's parse as a bracket? cool! :D

[2016-05-18 23:01] tjvr commented on #159
Specifically backslashes can escape spaces, which means the input-detection can't "see" the input

[2016-05-19 00:31] Jonathan50 commented on #159
Oh, like
[code]
But why doesn't [this](http://scratchblocks.github.io/#%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20block%20with%20a%20lot%20of%20padding%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%5C%20%3A%3A%20grey) work? Putting a space before the 'b' seems to fix it.

[2016-05-19 01:29] jupiterio commented on #169
\:D/

[2016-05-19 05:24] Jonathan50 commented on #162
There is a backpack plugin? What is a plugin?

[2016-05-19 08:55] tjvr commented on #162
@Jonathan50 https://github.com/tjvr/scratchblocks/issues/121

[2016-05-20 20:41] tjvr opened #170 "Rename "scratchblocks""
Following the announcement of [Scratch 3.0](https://scratch.mit.edu/discuss/topic/199904/?page=1) and [Scratch Blocks](https://github.com/llk/scratch-blocks), now might be a good moment to rename the (IMHO already confusing) `scratchblocks` project.

Any suggestions?

[2016-05-20 20:46] liam4 commented on #170
`scratchblocksthatarerenderedusingtextastheinput`?

[2016-05-21 02:29] jupiterio commented on #170
scratch4forums maybe? :)

[2016-05-21 02:47] Airhogs777 commented on #170
Scrender, SVGratch (or Gratch for short). never mind, I don't like any of those... how about BlockTalk?

[2016-05-21 02:58] Airhogs777 commented on #169
Has nobody volunteered for this yet? I guess I can do it

[2016-05-22 19:45] tjvr commented on #170
My best thought was "blockpix".

[2016-05-22 23:39] jupiterio commented on #170
I tried to avoid "block" as it's too general, and scratchblocks is for scratch blocks

And honestly, mine's pretty boring :package:

[2016-05-23 21:00] arve0 opened #171 ""Assertion failed" in generator"
Generating crashes when loading project with empty `wait for` block.

https://youtu.be/lWSV8GrhKgA

[2016-05-23 21:36] #171 closed

[2016-05-23 21:36] tjvr commented on #171
Thanks!

[2016-05-23 22:02] bleush38p opened #172 "Translated number dropdown text is invisible"
In the translator (on the translated side only), literal number dropdown text has the class `literal-number-dropdown` and not `sb-literal-number-dropdown`, so it does not have the black fill, making it invisible in its white container.

This only happens for blocks that have been translated, not any custom blocks. [(example)](http://scratchblocks.github.io/translator/#?lang=es&script=delete%20(all

[2016-05-23 23:37] tjvr commented on #172
Thanks for reporting! Want to send a patch? :-)

[2016-05-24 07:29] #172 closed

[2016-05-24 07:31] tjvr commented on #172
Ooh, interesting. I could probably make an argument that this is deliberate; if it bothers you, open another issue/send a patch. Thanks!

[2016-05-26 12:40] CosmicWebServices opened #174 "Some sprites code do not show up."
Example: https://scratch.mit.edu/projects/109754612/#player Jamies code does not show up!

[2016-05-26 12:49] tjvr commented on #174
Fixed!

[2016-05-26 12:49] #174 closed

[2016-06-01 08:04] tjvr commented on #170
<img width="588" alt="screen shot 2016-06-01 at 09 03 35" src="https://cloud.githubusercontent.com/assets/639289/15702413/d7497726-27d7-11e6-970a-691172da9377.png">

[2016-06-01 08:05] tjvr commented on #170
@arve0 Do you disagree? :)

[2016-06-01 08:06] #150 closed

[2016-06-01 08:06] #169 closed

[2016-06-01 08:11] arve0 commented on #170
Yes, I do not think changing the name will gain much. The name is established and well known by those who use this software.

Why do you think the name is confusing (I'm not a native english speaker)?

[2016-06-01 08:13] #160 closed

[2016-06-01 09:56] tjvr commented on #170
@arve0 The main reason would be to avoid confusion with "Scratch Blocks", a project just announced by MIT which will be part of Scratch 3.0.

But the name is well-established, as you say. Hmm.

[2016-06-01 10:09] arve0 commented on #170
Aha, I see. Here is some context to how easy it is to find scratchblocks:

https://google.com/?q=scratchblocks
https://google.com/?q=scratch-blocks
https://google.com/?q=scratch%20blocks

[2016-06-13 17:05] exo7math opened #175 "Exported SVG has broken styles"
Dear tjvr,

thank you for your fantastic generator of image of blocks!

I have trouble with the svg files. The image is not well pictured on the screen (see the picture). I can fix part of the problem, playing with Inkscape parameters, but still I will have trouble to import it in Libre Office (because the fonts are not the same and then texts go out of the blocks).

![svg-scratchblocks](https://c

[2016-06-13 17:46] tjvr commented on #175
What are you viewing the SVGs in? Are there easy fixes we can make to scratchblocks to make that renderer happy?

[2016-06-13 18:18] exo7math commented on #175
The rendering has the same problem with the standard picture viewer of Ubuntu, with Inkscape and Gimp. But the rendering is good when the files is opened with Firefox and Chromium.

With Inkscape I can show the blocks correctly by changing the filling of the background (clicking the question mark "undefined filling", see picture), but the save file is still bad!
![inkscape](https://cloud.githubuse

[2016-06-17 15:53] carlflor opened #176 "Error in JS?"
Hi I keep getting this error:
scratchblocks-v3.1-min.js:9 Uncaught TypeError: Cannot read property 'appendChild' of null

I'm including this in my head.html:
`<script src="//scratchblocks.github.io/js/scratchblocks-v3.1-min.js"></script>`

[2016-06-17 22:04] tjvr commented on #176
You want to include it at the bottom of the `<body>`.

[2016-06-19 02:07] NoMod-Programming opened #177 "Arguments are offset in cend-type blocks"
See [here](http://scratchblocks.github.io/#define%20custom%20reporter%0A%7B%0A%7D(report%20%3C%3E%3A%3Acustom)%3A%3Acend%20cap%20custom). On my chrome/macos machine, I am seeing the (report <>) argument offset down by a few pixels.

[2016-06-19 10:07] liam4 commented on #177
Same here, using Firefox 50 on OS X El Capitan.

[2016-06-19 14:17] jupiterio commented on #177
Not offset down. Cend blocks are slightly slimmer than normal blocks, so, there's not an offset, but blob has to put one up.

[2016-06-19 14:18] tjvr commented on #177
I'm not going to fix this myself.

[2016-06-22 15:36] tjvr commented on #170
New plan: add a link to Scratch Blocks to the top of the readme, Wikipedia-disambiguation style.

[2016-06-22 15:39] tjvr opened #178 "SVG validation errors"
Some things the [SVG validator](https://validator.w3.org/check) brought up (ref #175) that we might want to look at:

- No Character encoding declared
- Attribute `x0`/`y0` not allowed on SVG element filter
- Attribute `width`/`height` not allowed on SVG element g

[2016-06-22 15:45] #175 closed

[2016-06-22 15:45] tjvr commented on #175
Fixed, thanks!

[2016-06-22 15:45] #176 closed

[2016-06-22 15:47] tjvr commented on #162
So I think it turns out that it doesn't work, *and* it's something we can't fix, because backpack scripts can't specify whether their variables are cloud or not. But I might be misremembering.

Anyone want to look into this?

[2016-06-22 15:47] Airhogs777 commented on #170
You could open an issue over there asking them to do the same

[2016-06-22 15:48] tjvr commented on #170
@Airhogs777 Nah. I expect the next version of `scratchblocks` will be based on `Scratch Blocks` itself, so, it would be a brand new project anyway.

[2016-06-25 11:40] exo7math commented on #178
Dear tjvr,

thank for the correction of bug #175,
However I still have problems with the svg files.

1. The boundary of the svg image does not fit the blocks: it is more or less twice bigger than necessary. (See picture.)
2. The svg file, as a text file, is written in only one line. (See picture.) Adding line breaks would be nice. However I understand that line breaks are distinct in Windows and L

[2016-06-26 09:21] Scimonster opened #179 "RTL with made-up blocks"
I use ScratchBlocks to create fliers and certificates for a Scratch class i run, in Hebrew. I take advantage of the `:: cat shape` syntax to turn all my text into blocks. Last year, this worked fine (after some fiddling with RLE), but it failed horribly in v3.

Here's some code to try out in both v2 and v3:

[code]

[2016-06-26 23:58] gtoal opened #180 "Fix Diff tool for v3"
Is 'diff' still supported?

http://scratchblocks.github.io/diff/#114924085+114889952

fails to load on Chrome, fails to return from the compare on Edge (the new IE)

[2016-06-27 08:16] tjvr commented on #180
Correct place, yes.

Supported, no. I'm probably not going to have time to fix it either!

[2016-06-27 16:11] jupiterio commented on #179
Custom C block syntax has changed. All the c shapes for `::` no longer work.
You now have to use
[code]
Note that this syntax is not compatible with already existing blocks, meaning that that last if else block using the new syntax will come out obsolete. Also, the `:: cat shape` now goes after all the brackets.
[code]

This should work:
[code]

[2016-06-27 16:22] Scimonster commented on #179
Okay, so that solves that. But the Hebrew still shows up backwards. Meaning, the first word is on the left.

[2016-06-27 16:39] tjvr commented on #179
This is an interesting issue.

Currently RTL support is as follows:
- We hardcode a list of RTL languages ('hb' and 'ar' iirc)
- Block recognition saves the RTL-ness, along with category and shape
- For RTL blocks, the renderer reverses the array of parts before rendering, so the labels/inputs/nested blocks are in reverse order.

Clearly we need a way to detect custom RTL blocks, in order to rende

[2016-06-27 17:14] Scimonster commented on #179
By the language dropdown at the top. If i select Hebrew or other RTL languages, render all blocks in RTL.

[2016-07-07 20:15] arve0 opened #182 "Rendering without DOM"
I've [hacked a bit](https://github.com/arve0/scratchblocks/commits/node) trying to avoid the dependency to the DOM, making server side rendering possible without a browser.

Seems like this is almost possible, except for the size measuring `getBBox` of text. Have you looked into [node-canvas](https://github.com/Automattic/node-canvas) any?

Any ideas?

Edited: getBBox is SVG, not canvas.

[2016-07-07 23:57] arve0 commented on #182
Got this rendered using node-canvas to measure string lengths:

![skjermbilde 2016-07-08 kl 01 46 13](https://cloud.githubusercontent.com/assets/4810521/16673399/18de5358-44ae-11e6-9d2a-3c8a72bcf360.png)

Though, trouble with font size, as correct font is not available for cairo (ref https://github.com/Automattic/node-canvas/pull/715).

See [branch node on my fork](https://github.com/arve0/scratch

[2016-07-08 10:05] tjvr commented on #182
I've thought about server-side rendering, but I rejected it as an official idea (I don't want to end up hosting an SVG/PNG-rendering service!). scratchblocks quite deliberately renders things on the client.

The easiest thing is just to use PhantomJS; then you can render to SVG/PNG/whatever you want, with minimal extra effort. Note that if you render to SVG, the metrics will be wrong if the user d

[2016-07-08 10:59] arve0 commented on #182
You are correct. If I understand correctly, `Lucida Grande` is the official font for keywords and `Helvetica` for comments?

Not sure if those fonts are free to distribute, but one could provide web font for those who miss these fonts. Web fonts should be [supported](http://caniuse.com/#feat=fontface) in all browsers.

[2016-07-08 11:01] arve0 commented on #182
Yes, I will finish it. I'll try to think about how it can coexist with the client code. Might add a build step with node, if that is alright?

[2016-07-08 13:08] connorhudson opened #183 "Black scratchblocks (Chrome for Win10?)"
https://scratch.mit.edu/discuss/post/2086545/

[2016-07-08 13:16] tjvr commented on #183
Can we get a screenshot?

[2016-07-08 13:27] tjvr commented on #183
![hlpoid](https://cloud.githubusercontent.com/assets/639289/16688856/f9e78914-4517-11e6-9734-24707f7ce3e4.png)

So usually black blocks indicate missing styles.

But on Chrome 51 for Windows 7, I don't see the same problem. Odd.

[2016-07-08 13:35] technoboy10 commented on #183
Similar issue: https://scratch.mit.edu/discuss/topic/207779
Windows NT 10.0, Firefox 47.0, Flash 22.0 (release 0)

Potentially a Windows NT issue?

[2016-07-08 13:37] technoboy10 commented on #183
Quote from Sheep_Maker: "Apparently custom colored blocks work and the blocks render properly on the other browsers I have (IE, Edge, and Firefox)"

[2016-07-08 13:37] technoboy10 commented on #183
So it looks like it might be an issue with Chrome on Windows NT 10.

[2016-07-08 14:18] tjvr commented on #183
Is Windows NT actually a thing?

[2016-07-08 15:25] Airhogs777 commented on #183
is it even supported by scratch-www?

[2016-07-08 18:16] liam4 opened #184 "Importing scripts to backpack puts scripts at the end of the backpack, not the start"
![Picture](https://cloud.githubusercontent.com/assets/9948030/16697176/d1365d40-451e-11e6-8fc6-3df43a705b1c.png)

On the far right are the newly imported using scratchblocks scripts. Everything else is from, like, 2013.

[2016-07-08 18:25] tjvr commented on #184
Yes that's what I thought too! @hardmath123

[2016-07-09 19:26] Airhogs777 commented on #183
Here's the compatibility matrix for www: https://github.com/LLK/scratch-blocks/issues/440#issuecomment-227777226 -- it doesn't actually define OS versions

[2016-07-10 16:41] tjvr commented on #179
@Scimonster That doesn't work for the forums!

[2016-07-10 17:25] Scimonster commented on #179
Perhaps the forum /wiki tags can be configured to support a language
setting.
On Jul 10, 2016 7:41 PM, "Tim (blob8108)" <notifications@github.com> wrote:

[2016-07-13 16:25] tjvr opened #185 "Recognise based on shape too"
[This sort of thing](http://scratchblocks.github.io/#say%20(when%20flag%20clicked)%0Aturn%20cw%20%3Cdistance%20to%20%5Bsprite%20v%5D%3E%20degrees%0Amove%20(stamp)%20steps%0Aif%20(mouse%20down%3F)%20then) just shouldn't be allowed.

![scratchblocks](https://cloud.githubusercontent.com/assets/639289/16811095/b39e4b86-491e-11e6-9bde-16e3d2a2e587.png)

This is relevant to the backpack feature -- it's

[2016-07-13 20:57] CosmicWebServices commented on #184
yeah I noticed this

[2016-07-13 21:04] joker314 commented on #185
Would you prefer the scripts you showed to be not backpack-able? What about scripts like this, where everything is the correct shape, but is still cannot be recreated in the editor:
`<key (variable) pressed>`? Would you allow this or also try to prevent it?

[2016-07-13 22:11] joker314 commented on #185
Wait, I would like the blocks to produce the opcodes based on their text, but add to the backpack the blocks with the correct shapes. Would that be acceptable. I think it should allow stack blocks as inputs to blocks, as this new system makes block hacking easier, and while it is true that block hacking is against the Terms of Use, I don't see this kind of block hacking harmful. I do understand th

[2016-07-13 22:17] joker314 commented on #185
After the user @herohamp created a mock-up, it works as I prefer, the text i forced into its correct shape, but still allowed, and I really like this. It is currently optimal for safe block hacking, and while this may be against the terms of use, if the JSON is valid enough to produce some kind of script in the editor, I think it should be allowed. Please, keep it the way it is, because a bit of b

[2016-07-13 22:33] joker314 commented on #185
On the other hand this might be a good idea, as long as you are alright with `key var pressed` type hacking. I am going to (also) give you a thumbs up

[2016-07-13 22:41] joker314 commented on #184
Looks like an easy fix, you use `.push()` when you should use `.unshift()`. I couldn't find the code and therefore couldn't make a PR, but the correction should be made on line 46 of backpck.js The amended line should look like this: `parsed.unshift(obj);`
Good luck!

[2016-07-14 00:56] joker314 commented on #161
`.unshift()` instead of `.push()` on line `46` of `backpack.js` should do the trick?

[2016-07-14 01:57] bobbybee commented on #185
There are some legitimate uses of this, such as a pop reporter.

[2016-07-14 11:30] #170 closed

[2016-07-14 13:49] tjvr commented on #185
* Also modify the parser to look for whitespace after `{}`, to decide whether to parse as a Block or a Script.

[2016-07-14 21:45] tjvr commented on #156
Sorry, I'm not going to do this. If it's super-important to you, maybe send a patch and I'll see what I think then. :)

[2016-07-14 21:45] #156 closed

[2016-07-14 21:50] tjvr commented on #182
I'm not quite sure what you mean by this, but I'm sure that's fine. :)

[2016-07-14 21:50] #185 closed

[2016-07-14 21:53] tjvr commented on #184
Duplicate of #161.

[2016-07-14 21:55] tjvr commented on #179
We decided not to do that, when we first added i18n! :)

I think probably an `:: rtl` flag would be the best thing here.

[2016-07-15 01:16] herohamp commented on #185
Sorry to come if this is not my conversation but I got a notification about it. I think it is cool how we can make our "Custom" blocks

[2016-07-15 09:03] arve0 commented on #182
It essentially means that you do a build step for the browser release. E.g.

[code]

where the equivalent in npm-land would be

[code]

Anyhow, I'm currently doing some heavy refactors, to get rid of the python dependency. This might not fall to your taste. I'll give a heads up when I have it fully working.

[2016-07-15 09:23] tjvr commented on #182
Presumably you're talking about the `build_translations.py` script? I've been thinking about converting that to Node myself, but I just don't have the time. If it still works the same I'd be very happy with that :)

[2016-07-15 11:24] arve0 commented on #182
Yes, I'm porting `build_translations.py` to node now.

[2016-07-16 19:03] tjvr commented on #116
@as-com Would you like to write a patch for this? :-)

[2016-07-18 01:33] arve0 opened #186 "Percentage, update commands.js?"
Current .po files reports 100% at http://translate.scratch.mit.edu for most forum languages. But all of them lacks these translations (from `commands.js`):

[code]

which gives 87.97 % translated.

This diff gives me 100%, but I'm unsure if I'm deleting something that should __not__ be deleted:

[code]

[2016-07-18 10:13] tjvr commented on #186
Those shouldn't be deleted:

- Rings and the ellipsis block are required (although they're never translated).
- The motor blocks are used someplace I think, possibly it's an old version of the WeDo extension? Regardless we should either pick these translations out of the 1.4 po files, or not translate them at all
- The last section are Scratch 1.4 blocks. We render these as red for "obsolete" (cat

[2016-07-18 10:14] tjvr commented on #186
Regardless, sounds like you've nearly finished your translation efforts! :)

[2016-07-18 20:52] arve0 commented on #186
Yes. I'll send a PR now.

[2016-07-21 16:35] #186 closed

[2016-07-24 10:36] tjvr opened #188 "Problem repeatedly occurred on iOS"
https://scratch.mit.edu/discuss/topic/195968/?page=10

![image](https://cloud.githubusercontent.com/assets/639289/17083286/d4d8aca2-5192-11e6-9839-199a98d04f09.png)

[2016-07-25 05:54] Airhogs777 opened #189 ""Add to Backpack" uses incorrect "_ of _" block"
reported on https://scratch.mit.edu/discuss/topic/210264/

In the forums:
![screen shot 2016-07-24 at 11 48 53 pm](https://cloud.githubusercontent.com/assets/2879020/17091635/447cc528-51f9-11e6-881c-5ac8e2fbcafe.png)

In my backpack:
![screen shot 2016-07-24 at 11 47 56 pm](https://cloud.githubusercontent.com/assets/2879020/17091634/447c85d6-51f9-11e6-9ad8-5dee7bdf49d5.png)

In the editor:
![scree

[2016-07-25 08:28] tjvr commented on #189
You can't use `:: operators` hacks with the "Add to backpack" feature.

Possibly we should disable JSON export if you use any of these.

[2016-07-25 13:56] liam4 commented on #189
Why not?

These are handy blocks to have. I don't agree with just getting rid of a feature because it's not perfect the way it is.. just make it better?

Though I do agree that `:: operators` is a bit on the yucky side.. but it *does* make sense!

Anyways blame the Scratch Team for having both a math-of block and an attribute-of block, each with the same spec. :)

[2016-07-25 15:14] tjvr commented on #189
That is not the intention of the JSON export feature.

Category/shape `::` hacks are designed for customising the _display_ of the output; they don't affect JSON export.

We already have disambiguation of the two "of" blocks in most cases, by matching on the contents of the first input (ie. is it a math function name?). I've never seen a Scratch project that puts a reporter in the function input.

[2016-07-25 15:14] #189 closed

[2016-07-27 12:14] tjvr opened #190 "Backpack plugin improvements."
- [ ] Restrict invalid block JSON. I think the ST might be thinking about removing the "Add to Backpack" feature... they're not a fan of the fact you can create "hacked" blocks. This needs to be more restricted.
- [ ] Add to beginning, not the end, as per #161.
- [ ] Make the button smaller and less annoying.
- [ ] Revisit the "at least one block" check; for one thing, this doesn't make sense if y

[2016-07-27 18:54] liam4 commented on #190
@(scratch team) Please can we just make them not hacked blocks? Is that that hard?

Maybe a backpack icon? (With the current text as alt)

[2016-07-27 19:05] tjvr commented on #190
It's not clear what you're asking for here.

[2016-07-27 20:43] liam4 commented on #190
e.g. dropping inputs into most prevented input slots, like set *name* or *attribute* of sprite.

[2016-07-29 18:50] tjvr opened #191 "ops list for menu"
https://scratch.mit.edu/discuss/topic/209427/?page=1#post-2123600

[2016-08-07 17:28] liam4 opened #193 "`:: stack ring`'s input literals looks weird"
I imagine the right thing to do would be to render it as if it was just a `:: ring` (no `:: stack`).

![Example (zoomed in)](https://cloud.githubusercontent.com/assets/9948030/17464036/255fbf62-5cab-11e6-93ed-1036a07501cb.png)

[Link.](http://scratchblocks.github.io/#%28%5Bthis%20makes%20no%20sense%20v%5D%20%3A%3A%20%23CCC%20stack%20ring%29%0A)

Found this in [udoxas's signature](https://scratch.m

[2016-08-18 18:04] carlflor opened #194 "Inline Nested Blocks"
Hi, is there a way I could show a move block within repeat block inline? Thanks!

[2016-08-18 18:13] tjvr commented on #194
I'm sorry, I don't understand the question. Could you explain it a bit more? :)

[2016-08-22 17:15] zippee100 opened #195 "Strang"

[2016-08-22 17:15] #195 closed

[2016-08-22 17:16] zippee100 opened #196 "Strange Input"
when i do
() :: ring
the starter () is an octagan input for some reason it is asactly like the number imput

[2016-08-22 17:20] tjvr commented on #196
Don't do that.

[2016-08-22 17:20] #196 closed

[2016-08-23 13:21] as-com opened #197 "performance"
I noticed that scratchblocks takes a while to render a large number of scripts, leading to page reflow, high CPU/memory usage, and a overall poor user experience.

I suggest scratchblocks could add a mode to parse the scripts and create containers of appropriate heights in the page as soon as possible to reduce page reflow, and only render the script once it is within the viewport. After the scrip

[2016-08-23 13:32] tjvr commented on #197
Go for it! :)

[2016-08-23 14:49] arve0 commented on #197
Have you tried this with recent scratchblocks?

I've put up the scripts from the forum post in issue 188 here: https://arve0.github.io/scratchblocks_stress_test/

[2016-08-23 19:22] arve0 commented on #197
Here is a break down of what uses time (Chrome, MacBook Air 2013):

![skjermbilde 2016-08-23 kl 21 10 15](https://cloud.githubusercontent.com/assets/4810521/17906113/30b29b64-6976-11e6-9ff1-8f9bf8af893d.png)

`Document.render` is the largest time-sink, with it's `Script/Block.draw` children.

By time:
- `Document.render` 60+762+386 = 1208 ms
- `measureAllLabels` 276 ms
- `parse` 194 ms

[2016-08-23 19:40] arve0 commented on #188
Same happens for static SVG / no JS / pre rendered:

https://arve0.github.io/scratchblocks_stress_test/static.html

[2016-08-23 22:07] tjvr commented on #197
@arve0 I suspect self function time is more important here than total time :)

[2016-08-24 00:35] Choco31415 opened #198 "[Minor] The Dutch <<> of <>> Block Appears as a Sensing Block"
Here's a screenshot, with the scratchblocks code on the left, and an image of what the of block should look like in the right:

http://u.cubeupload.com/Choco31415/ScreenShot20160823at.png

The two blocks should not be mixed up because one uses drop down menus, while the other uses booleans.

[2016-08-24 02:21] as-com commented on #197
I played around with this idea and hacked a "measure-only" mode into scratchblocks and used that to lazy-render the SVG:
https://s.codepen.io/ascom/debug/QERPQP
https://codepen.io/ascom/pen/QERPQP?editors=1010

I can see there is a pretty big improvement in the initial render time, although it is still slow for the browser to paint the SVGs themselves. There is still a lot of room for improvement,

[2016-08-24 07:30] tjvr commented on #198
This is expected behaviour. scratchblocks can only tell apart the blocks if the first input is a dropdown; it tests them against the list 'sin', 'cos', 'abs'...

[2016-08-24 07:30] #198 closed

[2016-08-24 12:20] liam4 commented on #198
FYI there's a workaround - just attach `:: operators` to the `of` block:

[code]

![scratchblocks](https://cloud.githubusercontent.com/assets/9948030/17930224/81ff70fe-69db-11e6-8835-055113d1a756.png)

I'm just confused, though.. I can't reproduce the OP's issue:

![can't reproduce image](https://cloud.githubusercontent.com/assets/9948030/17930298/de4e8f8e-69db-11e6-8622-142072ce6c5c.png)

Shouldn

[2016-08-24 12:25] Choco31415 commented on #198
@liam4:
The bug is not for German. It's for Dutch (nl).

@tjvr:
Oh, you are correct. It would be nice if there was a way to differentiate between the two blocks...

[2016-08-24 12:35] tjvr commented on #198
FWIW, there's a similar problem with the "set pen color to" block; this is why tosh renames it "set pen hue to".

[2016-08-24 14:06] liam4 commented on #198
@Choco31415 Oh, hahaha, I missed that.. forgive me :P

[2016-08-24 14:32] as-com commented on #197
I pasted the forum post in #188 into [this test page](https://s.codepen.io/ascom/debug/dXBGop), which no longer crashes in MobileSafari. :tada:

Unfortunately, the backgrounds/shapes for the blocks randomly disappear. [Here are the changes I made to scratchblocks.js](https://www.diffchecker.com/OqmVmAsy) - did I do anything that would have broken anything?

[2016-08-24 14:34] tjvr commented on #197
@as-com I can't read that diff easily. If you can push to GitHub and post a compare link, then I can take a look :)

[2016-08-24 14:37] as-com commented on #197
@tjvr https://github.com/as-com/scratchblocks/commit/6fe55e3a2cbfe38328660f0c6fc1765b3a48bdcd

[2016-08-24 14:46] tjvr commented on #197
*shrug* not sure. I'd guess a bug in your `isElementInViewport` function, but it looks okay to me. Not sure if this is the right approach.

Maybe we should be rendering SVGs to PNG, and including those in the document instead? Never heard of a browser crashing because there were too many large images; at least not in the same way as iOS does with SVG...

[2016-08-24 14:47] #194 closed

[2016-08-24 14:49] as-com commented on #197
Rendering to images may cause issues with screen readers. Perhaps we could overlay the image with a transparent text layer to retain accessibility, or is that not an issue?

[2016-08-24 14:50] tjvr commented on #197
@as-com Scratch isn't screen reader-accessible AFAIK. Making block-based programming languages accessible for visually impaired users is an open research question I believe.

[2016-08-24 14:52] tjvr commented on #188
@arve0 You're right! That's really good to know, thanks for testing this.

Sounds like "throw a bunch of SVGs on a page" is a fundamentally flawed approach, then.
Some thoughts:

- Should we pre-render to PNGs?
- Should we hide SVGs when they're out of the viewport (like @as-com suggested)? (Downsides: fragile; wants a separate code path for measuring only)
- Is our SVG filter too expensive? Can w

[2016-08-24 15:38] as-com commented on #197
So I did some playing around....
Drawing SVG's in canvas lazily: https://s.codepen.io/ascom/debug/grNPoz (still crashes MobileSafari)
Drawing SVG's in canvas then inserting an image: https://s.codepen.io/ascom/debug/bZPpGy (MobileSafari still crashes)
Using <img> tags: https://codepen.io/ascom/debug/OXZrqa (solves background flickering, but still crashes MobileSafari)

I think the main issue is th

[2016-08-25 05:18] carlflor commented on #194
hi! apologies for the late feedback.

For example, I wanna show
![scratchblocks](https://cloud.githubusercontent.com/assets/4861092/17957668/0d91d388-6ac6-11e6-9062-daf97dbf9de3.png)

How do I write it in html? This doesn't seem to work
`<code>repeat ( 10) move (10) steps</code>`

[2016-08-25 09:59] tjvr commented on #194
You want something like this:

[code]

and then
[code]

[2016-09-01 18:14] exo7math opened #199 "Command line"
Dear scratchblokers,

is there a way to use scratchblock in a command line interface? I would like to transform a text file containing Scratch instructions into on image with a command looking like:
   `scratchblocks myfile.txt myimage.svg`

Is it possible ?

Then, since I have troubles with the svg image (see #175, #178) to be included in a LaTeX file, I can transform it as a png image of high re

[2016-09-01 20:35] arve0 commented on #199
This is already available, but you need to write a litte js to make it work. See [tests/test.js](https://github.com/tjvr/scratchblocks/blob/master/tests/test.js).

[2016-09-02 16:48] exo7math commented on #199
Thanks for the answer, but could you please give more details for the installation and the commands?
Arnaud

[2016-09-02 20:04] Airhogs777 commented on #199
scratchblokes

[2016-09-03 06:53] exo7math commented on #199
Sorry, but I do not know how to do it. I've installed Node.js, download the git repository 'scratchblocks', I can run `js test.js` but what to do next ?

[2016-09-04 00:51] jrehd3 opened #200 "Add "When Start Clicked"
Could you add "when start is clicked" as a alternative to "When green flag clicked"

[2016-09-04 09:57] tjvr commented on #200
Why? That's not a block.

[2016-09-04 09:57] #200 closed

[2016-09-04 16:47] arve0 commented on #199
You mean `node tests/test.js`? That will render all `.txt` in the test folder to SVG.

What you will need to do, to solve your specific problem:

1. Install [nodejs](https://nodejs.org).
2. Open a terminal. (Commands below will depend on your operating system).
3. `mkdir a_folder`
4. `cd a_folder`
5. `npm install tjvr/scratchblocks`
6. Create a file called `generate_svgs.js` with this contents (eq

[2016-09-04 21:09] jrehd3 commented on #200
We used it on ipo charts, and, when using scratchblocks, it took me forever to figure out that you used when green flag clicked.

[2016-09-05 18:39] exo7math commented on #199
Dear arve0, thanks a lot for the answer. It works exactly as you said. Is it possible to transform the files not of the current directory but of another (changing) directory? It would be nice if it can be executed as a purely command line (exactly as the [ svgexport](https://github.com/shakiba/svgexport) package).

Secondly it seems that the fonts are depending heavily on the os.
The first image i

[2016-09-05 21:36] arve0 commented on #199
Yes. That is `__dirname` in the line

[code]

You may swap `__dirname` with [`process.argv[2]`](https://nodejs.org/docs/latest/api/process.html#process_process_argv) for specifying folder through terminal. If you want finer control, [commander](https://www.npmjs.com/package/commander) might help you out.

The first image is generated locall, the second by http://scratchblocks.github.io (then conve

[2016-09-06 14:15] exo7math commented on #199
Ok thanks! I close the ticket.

[2016-09-06 14:15] #199 closed

[2016-09-08 17:06] tjvr commented on #199
This is quite sad, isn't it? I believe I'm using the same fonts as the Scratch flash player does. Is it worth us raising another ticket to improve this? :)

[2016-09-08 17:36] tjvr commented on #197
I've been thinking about this, but don't have any firm ideas...

I'm told that Chrome/Webkit have unusually slow SVG performance, but using [your stress test](https://arve0.github.io/scratchblocks_stress_test/) I can't really back that up.

* Chrome spends a while rendering the page
* So does Firefox --although Firefox also blocks the UI while rendering!
* IE/Edge spend... even _longer_ rendering

[2016-09-08 19:55] as-com commented on #197
@tjvr Even when I split the stress test into individual scratchblocks documents, scrolling a large script into view would crash MobileSafari. We might need to split some _scripts_ into smaller pieces, not just into individual scripts.

[2016-09-08 20:24] tjvr commented on #197
Are there really any practical scripts that have this problem? I'd be pretty happy if we managed to fix _most_ of the cases where it crashes!

I agree though that the root of the problem is that Mobile Safari crashes when rendering really big, complex SVGs. Maybe we _should_ move that into a separate ticket.

[2016-09-08 20:26] as-com commented on #197
In the test pages that I linked above, scrolling into view of a large-ish script (that came from the stress test) causes MobileSafari to crash.

[2016-09-22 14:32] BookOwl opened #203 "The exported PNGs look blurry"
![supported](https://cloud.githubusercontent.com/assets/13385064/18752199/a8f25f2e-80af-11e6-9e31-78241981b226.png)
As you can see, the exported PNGs are really blurry, as if they were scaled up from a smaller resolution.

[2016-09-22 16:14] tjvr commented on #203
I'm sure someone already mentioned this, but I can't find the issue comment.

[2016-09-22 16:20] arve0 commented on #203
Possible solution: Upscale SVG before drawing to `canvas.toDataURL`?

[2016-09-22 19:20] tjvr commented on #203
Yeah, you can create a larger offscreen canvas, and then scale() the context before drawing the SVG.

As mentioned in the other issue (which I can't find), the problem is simply to increase the DPI of the exported PNG.

[2016-09-24 06:03] exo7math opened #204 "Apostrophe (in french)"
It seems that there is one non standard apostrophe used to define blocks in french.
You should write "répéter jusqu’à" (repeat) instead of "répéter jusqu'à". It is quite subtle, but the first apostrophe is not available on french keyboard (you have to translate the blocks from english to french to get the correct syntax!)
![apostrophe_in_french](https://cloud.githubusercontent.com/assets/16621073/

[2016-09-25 03:59] tjvr commented on #204
Thanks! :-)

Is this a curly quotes vs. straight quotes issue? It's (presumably) a bug in the original translation files. Probably worth us adding a patch to minify_hash() so you can use either.

[2016-09-26 02:31] PullJosh opened #205 ""loud?" block appearing as obsolete (red)"
This [should be](https://wiki.scratch.mit.edu/wiki/Loud) a sensing block.

![image](https://cloud.githubusercontent.com/assets/5458180/18820946/d91e18f6-836f-11e6-84d5-1940bf14375d.png)

[2016-09-26 07:52] tjvr commented on #205
Nah—we show removed blocks (like "if <>"!) as obsolete. :-)

[2016-09-26 07:52] #205 closed

[2016-09-26 13:21] tjvr commented on #204
I wrote a patch for this. Are you able to test it? :)

[2016-09-27 18:53] exo7math commented on #204
Sorry, I can't test it. I only use online version.

[2016-10-19 08:37] #204 closed

[2016-12-06 18:44] jupiterio opened #207 "Ring blocks don't get detected on the demo site"
They appear as obsolete and don't have the ring slot. They also fail to be rendered if there isn't new lines between `{`, `}`, and the blocks inside them.
[demo site (without newlines)](http://scratchblocks.github.io/#Hello%2C%20Scratchblocks3!%20(%7BSnap!%20%3A%3A%20control%0Arun%20(%7B%7D%20%40addInput)%20%40addInput%20%3A%3A%20control%7D%20%40addInput)%20%3A%3A%20%237a2)
[demo site (with newlin

[2016-12-06 22:04] tjvr commented on #207
Interesting. Presumably this is a regression; the version on the forums should in theory be older.

[2016-12-11 12:05] tjvr commented on #190
As it turns out, they have removed it. :-(

[2017-01-14 03:25] NitroCipher opened #208 "Custom text colors"
I was attempting to use scratch blocks on the forums and I realized that I was unable to change the color of the text in the block.  Would it be possible for that to be added?

[2017-01-14 09:36] tjvr commented on #208
Why?

[2017-02-05 12:57] tjvr opened #209 "layout for 10090702"
https://scratchblocks.github.io/generator/#project=10090702

these deeply nested reporters do not looks right

[2017-02-05 12:58] #208 closed

[2017-02-05 13:03] tjvr commented on #207
Ignore the above. I remember now:

- You need `:: grey ring` for something to look like a ring.
- `{}` gets rendered as an embedded command, unless it's inside a ring.
- `{\n}` is always rendered as an embedded script (e.g. the inside of an "if" block).
- The forums probably mangle newlines/whitespace in irritating ways. The conversion from BBCode to HTML isn't always convenient.

If anyone wants

[2017-02-05 13:07] tjvr commented on #193
The word `stack` is irrelevant here.

The actual issue is that any input inside a ring apparently has a stack-shaped shadow around it. But since that's invalid anyway, I doubt it's worth fixing.

[2017-02-05 13:07] #193 closed

[2017-02-05 13:08] #161 closed

[2017-02-05 13:08] #190 closed

[2017-02-05 13:08] #184 closed

[2017-02-05 13:08] #162 closed

[2017-02-05 13:09] #116 closed

[2017-02-05 13:09] #182 closed

[2017-02-09 14:04] peeratham opened #210 "Custom blocks don't get rendered correctly"
Seems like custom blocks didn't get rendered correctly:

<[3]<[4]>
jump (1) ["jumping"] <[3]<[4]>
jump (1) ["jumping"] <mouse down?>

define jump (height)  [message] <bool?>

![scratchblocks](https://cloud.githubusercontent.com/assets/3270967/22786418/6f2d1bb6-eea6-11e6-9069-035669a9d157.png)

[2017-02-09 14:07] tjvr commented on #210
Try backslash-escaping the `<`.

[code]

[2017-02-09 14:16] peeratham commented on #210
Thank you for the hint!  It works with some tweaks:
<[3]<[4]>
jump (1) ["jumping"] <[3] \< [4]>   //not this one
jump (1) ["jumping"] \ <[3] < [4]>  //this one works!

define jump (height)  [message] <bool?>
![scratchblocks 2](https://cloud.githubusercontent.com/assets/3270967/22786897/52124c16-eea8-11e6-87bf-894d040f731c.png)

[2017-02-11 14:59] #210 closed

[2017-02-12 15:53] peeratham opened #211 "Variable and parameter rendering inside custom block definition"
I hope there is a way to differentiate between a variable and a parameter when rendering inside custom block definition:

[code]
![scratchblocks 1](https://cloud.githubusercontent.com/assets/3270967/22863606/50cfd362-f111-11e6-92bf-34bd9dea15c3.png)

[2017-02-12 16:12] tjvr commented on #211
There is!
[code]

[2017-02-12 16:12] #211 closed

[2017-02-12 16:13] peeratham commented on #211
Thank you!

[2017-02-15 17:45] tjvr opened #212 "Update Chinese on forums"
https://scratch.mit.edu/users/blob8108/#comments-31208136

[2017-02-21 14:45] tjvr opened #214 "Switch to Transifex API"
<https://translate.scratch.mit.edu> is now deprecated. The Scratch Team have switched to [Transifex](https://www.transifex.com/llk/scratch-legacy/) instead.

We need to update [src/fetch_translations.js](https://github.com/scratchblocks/scratchblocks/blob/90858e8ad846423b40aeacea5db7dfdaad81de1d/src/fetch_translations.js) to use the Transifex API. It looks like there's some  [API documentation](ht

[2017-02-21 14:49] #212 closed

[2017-02-22 14:57] dnowba opened #215 "I saw that you've updated the translations, why the project's page still shows older version."
Though  the Scratch Team have switched to Transifex instead, but the zh_TW language page you update from pootle is ok. When I browse your page, the translations seem to not update.
And when you have free time, Please help us to contact Scratch Team to renew the script in Scratch Forum and  Scratch Wiki.
Thanks a lot.

[2017-02-22 16:07] tjvr commented on #215
As I explained before, on #213, I'm going to wait until we've updated for the Transifex API. :)

[2017-02-22 16:07] #215 closed

[2017-03-07 17:58] ZenithRogue opened #218 "Ring layout breaks for short stack blocks"
If a block with 4 or less characters is put into a ring, the connection pegs are misaligned.

[2017-03-08 03:49] JackMorganNZ opened #219 "exportSVGString() output contains invalid SVG"
Hi there! The following example uses the following Scratch syntax:

[code]

**[Open this diff for following description](https://www.diffchecker.com/RLwdz6kh)**

When I use NodeJS to create an SVG image from this text, I get the text on the left.
When I use the website viewer ([permalink](https://scratchblocks.github.io/#when%20flag%20clicked%0A%0Asay%20%5BHello%5D%20for%20%5B2%5D%20secs)) and 'Ex

[2017-03-08 08:58] tjvr commented on #219
Yes, that sounds like #217. :/

[2017-04-02 00:28] iamunknown2 opened #220 "Custom C-blocks?"
AFAIK, scratchblocks only generates C-blocks if it detects a certain string in the block (e.g `if <> then`).

Would it be possible to specify a syntax for generating custom C-blocks?

[2017-04-02 00:37] tjvr commented on #220
`{}`

[2017-04-02 00:37] #220 closed

[2017-04-02 02:18] liam4 commented on #220
To clarify:

[code]

..yields this:

![while-demo](https://cloud.githubusercontent.com/assets/9948030/24583932/7cdfba3a-1731-11e7-91a4-cc3391f30aaa.png)

[2017-04-10 10:54] TheLogFather opened #221 "Comments cause trouble with with define hat blocks"
See demo forum post here:

https://scratch.mit.edu/discuss/topic/249100/

[2017-04-21 06:13] Syringegoogleplex opened #222 "I cannot create a control scratch block"

[2017-04-21 10:23] liam4 commented on #222
Perhaps you found an old guide that suggests you use `:: cstart`, `:: celse` and `:: cend`. Those are now obsolete, you'll need to do use this style of branching instead:

[code]

![Demo](https://cloud.githubusercontent.com/assets/9948030/25273693/4fea2592-2663-11e7-8a37-8e232d9c5c69.png)

[2017-04-21 10:34] tjvr commented on #222
Thanks @liam4! :-)

[2017-04-21 10:34] #222 closed

[2017-04-21 11:18] Syringegoogleplex commented on #222
I meant as in a 'when game starts' block

[2017-04-21 11:20] tjvr commented on #222
@Syringegoogleplex Please don't leave personal information in comments—your email signature got in here.

[2017-04-21 11:55] liam4 commented on #222
Ah, you mean a "hat" block, I think. You can use the `:: hat` syntax for that, like this:

[code]

![Demo](https://cloud.githubusercontent.com/assets/9948030/25276373/383dc216-2670-11e7-9208-0ad543c0b169.png)

[2017-05-04 09:36] carlflor opened #223 "HTML Inline for stacked blocks"
Is it possible to render scratch blocks that are stacked together through inline in HTML?
Something like this:

[code]

Expected output:
![scratchblocks 1](https://cloud.githubusercontent.com/assets/4861092/25698005/bfefc022-30ef-11e7-85f5-aefc2c424574.png)

Actual output:
![scratchblocks 2](https://cloud.githubusercontent.com/assets/4861092/25698015/cf5a79bc-30ef-11e7-8a1a-94bf6fdf04e8.png)

[Tes

[2017-05-04 09:53] tjvr commented on #223
You could try omitting the `inline` argument, that might work. :-)

[2017-05-04 09:58] carlflor commented on #223
I tried removing `inline: true`, but it still rendered separately. What I'm trying to figure out is to still render it inline but render as stacked blocks.

Here is the output upon removing `inline`
<img width="190" alt="screen shot 2017-05-04 at 5 54 52 pm" src="https://cloud.githubusercontent.com/assets/4861092/25698856/3c3f9b5e-30f3-11e7-98d2-c38656b663ff.png">

[2017-05-04 10:17] carlflor commented on #223
@tjvr Here's a workaround I did though:

[code]

[2017-05-04 10:26] tjvr commented on #223
Glad you solved it :-)

[2017-05-04 10:26] #223 closed

[2017-05-04 10:33] carlflor commented on #223
thanks!

[2017-06-08 18:50] chrisgarrity commented on #214
@tjvr Transifex does have an API, but user credentials (e.g. translator login) are needed to use it. However, https://github.com/LLK/scratchr2_translations is a repository that is updated nightly from transifex. scratchr2_translations can be installed as a submodule, or as an npm module (see https://github.com/LLK/scratch-www/blob/develop/package.json for an example install) Then fetch_translation

[2017-09-26 13:57] MarcScott opened #224 "Online generator errors"
The online generator at https://scratchblocks.github.io/ errors when trying to import scripts from shared projects
![error](https://user-images.githubusercontent.com/4516338/30864242-feb79f58-a2ca-11e7-8099-5998436446fe.png)

[2017-09-26 14:10] tjvr commented on #224
Works fine for me!

Perhaps you're behind some sort of proxy that's messing with your internet connection?

Do you see anything in the JavaScript console?

[2017-09-26 14:10] #224 closed

[2017-09-26 14:24] henriquehbr opened #225 "Blocks interactivity"
i would like to know if:

- Is there a way of adding a close buttons inside blocks (like on firefox/chrome tabs)
- Moving the blocks inside a `div` (like on scratch website)

PS: **please**, if you can (or have some free time), implement these functions above

[2017-09-26 14:47] MarcScott commented on #224
It seems to be being blocked my Privacy Badger. This wan't an issue earlier
in the month. Might be some changes made to user tracking in Scratch.

On Tue, Sep 26, 2017 at 3:10 PM, Tim (blob8108) <notifications@github.com>
wrote:

[2017-09-26 14:51] tjvr commented on #225
Sorry, but I'm not going to do this.

You can always fork the project and implement your own changes, although if you want interactive blocks then surely you're better off with [scratch-blocks](https://github.com/llk/scratch-blocks)?

[2017-09-26 14:51] #225 closed

[2017-09-26 16:39] henriquehbr commented on #225
so, one last question, i'm new to open-source:

there are just lots of random files and a poor documentation...

[2017-09-26 21:47] tjvr commented on #225
I have no idea; try asking on the scratch-blocks repo, or perhaps the Advanced Topics on the Scratch Forums.

Part of open source is learning how to work things out yourself; it works better if everyone pitches in! Remember you’re getting it for free :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-27 00:45] henriquehbr commented on #225
thanks a lot, i really appreciate your help and your work

one last thing:

[2017-10-28 22:19] Scimonster commented on #221
Opened a PR to fix it. You can now add comments, and block types get ignored (not supported for define, apparently).

[2017-10-29 17:55] tjvr commented on #221
I wonder

[2017-10-29 17:59] tjvr commented on #221
Yeah, it turned out `::`-specs just got way too complicated for `define` hats, I think.

---

Interested in fixing the visuals as well? The comment is too high up:

<img width="285" alt="screen shot 2017-10-29 at 17 56 07" src="https://user-images.githubusercontent.com/639289/32146649-7a6e6f52-bcd2-11e7-9456-bfc4ff2c2eba.png">

The relevant code will be in `lib/model.js`; perhaps in `Script::draw`

[2017-11-01 16:06] Jonic opened #227 "Feature request: Allow font-size to be passed in to SVG renderer as option"
We've been using scratchblocks on the new Raspberry Pi projects site (https://projects.raspberrypi.org), but we've found the text on the rendered SVG to be too small for our needs.

I've tried to find various CSS-based ways to up the font-size or scale the whole thing, but it doesn't seem to be possible without some hacky workarounds to ensure that they still fit in the flow of the document nicely

[2017-11-01 17:06] tjvr commented on #227
Given it’s an SVG, you should definitely be able to scale it up! :) If you can’t do it in CSS I guess I could add a scale option, that increases the size of the whole SVG by a constant factor?

[2017-11-01 19:19] Jonic commented on #227
@tjvr That sounds perfect :) I’m happy to jump on a call to talk through what I’ve already tried if you like, but I think the most elegant solution would be to solve it in the plugin itself. Is there any way I can help out with this? I tried having a look, but nothing immediately jumped out at me.

[2017-11-02 10:32] tjvr commented on #227
Ooh, we could reuse this for #203 too :-)

---

Here's what you need to do:

1. Call `newSVG` with a different initial size https://github.com/scratchblocks/scratchblocks/blob/master/lib/model.js#L958
2. Add some sort of scaling attribute to the `SVG.group(elements)` a few lines down from there (I think you can use a CSS `transform`?)
3. Add an option in `index.js`, and pass it through to `documen

[2017-11-24 20:50] tjvr opened #228 "Generator is broken :-("
The Scratch project URLs have moved again, and the new location doesn't support CORS :-(

Anyone know if there's a different URL we can use?

BTW the repo for the website is [here](https://github.com/scratchblocks/scratchblocks.github.io) if someone would be able to send a PR :)

[2017-11-24 21:01] towerofnix commented on #228
No, sorry :)

Would a CORS proxy work? Those are cheaty:tm:, but I think one would make sense here.

[2017-11-24 21:32] tjvr commented on #228
That would probably cause me more pain--I used to get frequent bug reports about the generator not loading, which turned out to be someone's school proxy blocking things :(

[2018-01-22 19:33] NitroCipher opened #230 "Where are the shapes/colors of the blocks located?"
I am attempting to modify this project to conform to the shapes and colors of Scratch 3.0.  I can't seem to find where the shapes and colors are defined.

[2018-01-22 23:33] tjvr commented on #230
Sorry! There are no plans to support Scratch 3.0 at this time :-)

[2018-01-22 23:33] #230 closed

[2018-01-23 02:41] towerofnix commented on #230
If you still want to play around with it, though, the shapes are defined in [lib/draw.js](https://github.com/scratchblocks/scratchblocks/blob/master/lib/draw.js). Styles look to just be CSS rules defined in [lib/style.js](https://github.com/scratchblocks/scratchblocks/blob/master/lib/style.js).

[2018-01-23 13:06] NitroCipher commented on #230
Blob8108 I think you misunderstand. I am working on my own fork of the project, not requesting something to be made

[2018-01-23 13:29] tjvr commented on #230
I  kno!

[2018-01-26 19:55] NitroCipher commented on #230
I have the current iteration of the project up at s3blocks.github.io if you want to take a look

[2018-03-22 08:53] javorekm opened #231 "Write blocks in english, translate them on render"
I am using translations for scratchblocks, but it seems to be very wild to rely on that translations as they are changing a lot (wild language :-) it's not a scratchblocks problem). It would be nice, if I can write the scratchblock code in english (original) and than parametrize the render to use actual translated version.

Now I am including scratchblocks into HTML page:

[code]

Is there a way t

[2018-03-22 09:22] tjvr commented on #231
You can use `doc.translate(scratchblocks.allLanguages['cs'])` to translate a scratchblocks Document to another language.

To get access to the document, perhaps pass a custom `render` function to `renderMatching`:

[code]

[2018-03-22 09:38] javorekm commented on #231
Thanks a lot!

A little typo, I must remove the `language: ['cs']` not to translate the source before rendering, so this works for me now:

[code]

[2018-03-22 09:38] #231 closed

[2018-03-31 18:24] zippee100 opened #233 "Spacing Different."
In the editor spaces are rather big.
regular space: ( )
in-generator space: (     )

[2018-03-31 20:29] #233 closed

[2018-04-04 15:41] zippee100 opened #234 "Spaces are too large"
tried using blocks. got this instead:
![scratchblocks 2](https://user-images.githubusercontent.com/21120948/38318360-09a059a4-3827-11e8-899a-11129705391e.png)

[2018-04-06 14:47] NitroCipher opened #235 "Custom color tag broken"
I cloned this repo onto my own computer and attempted to use a custom color modifier (::#0055ff).  When any block has a color modifier like this is seems to stop allowing any new blocks to render. However this is not the case on your website. It will still work fine if you use an existing color such as ::motion

[2018-04-07 10:27] tjvr commented on #235
You're quite right! Thanks for reporting 😊

Fixed in 22348dd.

[2018-04-07 10:27] #235 closed

[2018-04-07 10:27] tjvr commented on #234
That sounds like a problem with your computer :)

[2018-04-07 10:27] #234 closed

[2018-04-07 10:28] zippee100 commented on #234
Sorry but i use the latest version, windows 10 and it was working previously when i was using this computer. please think of something else :)

[2018-04-07 10:36] #203 closed

[2018-04-07 10:36] #227 closed

[2018-04-07 12:48] #219 closed

[2018-04-07 14:03] NitroCipher opened #239 "Are you working on an update for 3.0?"
Looking at your latest commits, I am wondering if you are working on writing a new version based on Scratch 3.0

(in reference to "move renderer to scratch2 package")

I have a fork that I am working on for 3.0. It is here: [s3blocks.github.io](https://s3blocks.github.io) if you want to take a look

[2018-04-07 18:57] tjvr commented on #239
Yes, I’m aware :)

I’ve never planned to write a Scratch 3 version of scratchblocks. However, the Code Club / Raspberry Pi Foundation folks would like to see scratchblocks updated, since they use it for project guides.

I’d be sad to see the project forked. I’m very aware that the codebase was a bit of a mess before; so I’ve been trying to tidy things up, and split out the Scratch 2 renderer from

[2018-04-07 20:52] NitroCipher commented on #239
I'd definitely be interested in merging, I have a few scaling issues at the moment (with input fields) that I'd like to fix before-hand.
(I've invited you the the s3blocks github organization btw)

[2018-04-08 22:02] chrisgarrity commented on #214
Just a quick note that we've reduced the scratchr2_translations updates to weekly, nightly was just creating a lot of noise in the dependencies.

[2018-04-09 07:53] tjvr commented on #214
Fine by me! Thanks for keeping me updated 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-09 12:53] aldreth opened #240 "New translations release"
I see you [merged](https://github.com/scratchblocks/scratchblocks/commit/4216c3d80547da693cfdf6487697141eea8a8db0) @ninaszymor's new translations, but I also see you [removed](https://github.com/scratchblocks/scratchblocks/commit/5f92d1c0be45d4f532aea09af9d92bc0d8021baa) the `Makefile` that was used to build the translations.

Is there a way to build & release `translations.js` & `translations-all

[2018-04-09 15:01] tjvr commented on #240
Hey @aldreth,

That's pretty much the case I'm afraid! :)

The `Makefile` has been replaced with some new scripts, hopefully the new translations have made their way into <http://scratchblocks.github.io/v3.2/>. Can you confirm whether that's the case? :)

[2018-04-09 20:07] tjvr commented on #240
Whoops, nevermind that; I'll need to merge #238 first!

[2018-04-10 15:35] aldreth commented on #240
👍 I was about to say the source of http://scratchblocks.github.io/v3.2/ includes `<script src="/js/translations-all-v3.1-min.js" charset="utf8"></script>` - so no new translations yet.

[2018-05-23 15:04] Jonic opened #242 "Fix options ordering"
See: https://github.com/scratchblocks/scratchblocks/blob/master/syntax/syntax.js#L782

In this function we attempt to merge the user's `options` with a set of defaults. I noticed that no matter how many extra languages I specified in my `options`, the `extend` function threw them out and stuck with the default, which breaks scratchblocks for anyone wishing to use any language other than English.

[2018-05-23 15:11] tjvr commented on #242
That's for explaining!

I think the bug here is actually that the arguments are flipped: it should be `extend(options, { ... })`.

Then it would be consistent with the usage in `draw.js`. The intent is that with expressions like

[code]

[2018-05-23 15:18] tjvr commented on #242
Aha! The intent is that anything passed in with `options` will override anything that's there.

So you need to pass in `en` explicitly in this case. :)

[2018-05-23 15:59] tjvr commented on #242
Sounds great, thanks! And thank you for spotting this

[2018-05-24 10:00] #242 closed

[2018-05-28 04:38] kiyokura opened #245 ""when green flag clicked" image broken in Japanese."
An incorrect image is generated when generate Japanese translated image of "when green flag clicked" block.
(However, a correct image is generated On "scratchblocks translator".)

Expected image (in "scratchblocks translator"):
![image](https://user-images.githubusercontent.com/558604/40597347-efac2788-627b-11e8-85fb-b2219cb813b7.png)

Actual image:
![image](https://user-images.githubusercontent.c

[2018-05-28 10:36] tjvr commented on #245
Hey, thanks for the report!

The reason it works on the translator is that I haven't updated the version of scratchblocks that the translator's using, yet.

I was hoping that #238 would fix this, but it looks like it doesn't 🤔  I've added a test for this, so hopefully this should be fixed in the next release. 🙂

[2018-05-28 21:24] chexbox opened #246 ""Stop other scripts in sprite" is cap block"
This was somehow changed in a recent update, as it is not this way on the wiki.

[2018-05-29 01:54] towerofnix commented on #246
@chexbox I'm a little confused? In the latest versions of both Scratch 2.0 and 3.0, "stop other scripts in sprite" is still a stack block, and this matches scratchblocks.github.io, where it's always a cap block unless the input is "other scripts in sprite".

[2018-05-30 12:58] chexbox commented on #246
No, the error is that on the scratchblocks website it remains a cap.
![screenshot 2018-05-30 at 07 58 13](https://user-images.githubusercontent.com/31783961/40721499-39dbae1e-63df-11e8-9073-b49053d463b9.png)

[2018-05-30 13:28] towerofnix commented on #246
@chexbox Ahh, right, that's in 3.2. I was testing with 3.1. Oops!

[2018-07-06 11:30] #214 closed

[2018-07-13 11:37] pdawyndt commented on #239
Here's [another version for Scratch 3.0 blocks](https://scratch4d.github.io/scratch-LN/)

[2018-07-13 15:20] NitroCipher commented on #239
@pdawyndt Oh wow! That looks good! The block syntax is different than scratchblocks, but I'm sure it can be tweaked. I haven't had a lot of time recently to actually work on s3blocks, so it has been difficult to keep up. I might just concede and let this take them helm. I hope this thing won't require too much modifications to work on the scatch servers

[2018-07-13 15:34] pdawyndt commented on #239
@NitroCipher For your reference, here's a link to the [grammar rules](https://github.com/scratch4d/scratch-LN/blob/develop/documentation_parser/generated_diagrams.png) used by the language.

[2018-07-24 07:33] jiegillet opened #247 "Need help converting my project to svg"
Thanks for this project, it's amazing.
I've been meaning to use it to share code on the [Algorithm Archive](https://www.algorithm-archive.org) but I have virtually no experience with javascript and I need some help.
I'm specifically interested in transcribing some of my scratch projects from `.sb2` files (or from the internal `project.json`) to svg files. I know that it's what the generator was su

[2018-07-27 17:45] tjvr commented on #247
I'm afraid there's no existing code for this, although it wouldn't take too long for someone to put it together...

I suppose really the generator should be rewritten to allow dragging in `.sb2` files.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-25 09:08] MarcScott opened #248 "v3.2 -```blocks if <touching color [#FFFF99] ?> then say [YEAH!] for (2) secss stop [all V] end ``` block not showing color"
Using the following:
[code]

The colours are not being displayed, no matter the hex code used.

[2018-09-26 12:34] rik-cross opened #249 "Can't render empty 'if...then' blocks"
Using v3.2, I don't seem to be able to add empty 'if...then' blocks.

Example:
http://scratchblocks.github.io/v3.2/#if%20%3C%3E%20then%0Aend

This was possible in previous versions, as fr as I remember.

Same for 'repeat until' blocks.

[2018-09-29 11:28] #249 closed

[2018-09-29 11:28] tjvr commented on #249
Oops! Fixed :-)

[2018-09-29 11:36] #246 closed

[2018-10-01 17:02] jeansalac opened #250 "ReferenceError: window is not defined"
I tried using the Node port and got this error when running `node test.js>foo.xml`:
[code]

[2018-10-25 03:09] NitroCipher opened #251 "distinguishing between blocks of similar syntax"
I want to get back into continuing s3Blocks, and I am wondering how you managed to distinguish
```[abs v] of ()``` from ```[value v] of ()```

(currently trying to distinguish between graphic and audio effects)

[2018-10-25 07:33] tjvr commented on #251
I have a little code to do this on a branch 🙂

The trick is for each language to keep a list of the valid inputs to one of the blocks (e.g. `["pitch", "pan left/right"]`), and then just check if the menu  option is in that list.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-05 16:13] NitroCipher opened #254 "Model.js needs to be independent between scratch2 and scratch3"
I have found that you need to modify model.js for scratch3 in several aspects. Most notably while adjusting block padding as shown below, along with adjustments made for the fonts used in Scratch 3
[code]

[2018-11-05 23:12] tjvr commented on #254
But it already is? I separated out `syntax/model.js` from `scratch2/blocks.js` a while ago :) The padding for instance now lives on `BlockView.padding` in the scratch2 package.

[2018-11-12 03:30] NitroCipher commented on #239
_\*hangs up my hat\*_
I've got to say, I'm impressed.

[2018-11-12 03:36] NitroCipher commented on #254
alright, cool! _\*hasnt looked at the updated codebase fully yet\*_

[2018-11-12 19:34] tjvr commented on #239
@NitroCipher Are you referring to Scratch-LN?

I must admit I wasn't aware of Scratch-LN when I started work on scratchblocks! Seems pretty impressive. I always hoped that someone would hook up the existing scratchblocks parser to the Scratch Team's fork of Blockly, which seems to similar to what's done here (albeit with a different parser). I imagine the new Scratch 3.0 renderer in scratchblocks

[2018-11-12 19:53] tjvr commented on #254
I'm going to close this, but feel free to ask questions about the codebase and/or raise bugs! 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-12 19:53] #254 closed

[2018-11-12 20:16] NitroCipher commented on #239
@tjvr I am talking about scratchblocks. Sorry for the confusion

[2018-12-03 20:52] #251 closed

[2018-12-03 20:53] tjvr opened #255 "define block outlines need min width"
![scratchblocks](https://user-images.githubusercontent.com/639289/49400873-73a41900-f73d-11e8-892d-3c15eb03df27.png)

[2018-12-03 21:01] tjvr opened #256 "Add Scratch 3 extension blocks"
- [x] Add new blocks
- [x] Add video category
- [x] Add music icon
- [x] Add pen icon
- [x] Add video icon

---

### Music
[code]
### Pen
[code]
### Video Sensing
[code]

[2018-12-03 21:02] tjvr opened #257 "Repeat arrow alignment"

[2018-12-03 21:02] tjvr opened #258 "Scratch 3 comments"

[2018-12-03 21:11] tjvr opened #259 "Scratch 3 obsolete block colors"
We should set sensible border colors, to make it easier to see what you're typing.

![scratchblocks 1](https://user-images.githubusercontent.com/639289/49401755-fcbc4f80-f73f-11e8-94bc-c421d840981f.png)

[2018-12-03 21:14] tjvr opened #260 "Trailing cap block in C mouth"
![scratchblocks 2](https://user-images.githubusercontent.com/639289/49401921-62104080-f740-11e8-871f-96c3ab077a68.png)

---
[code]

[2018-12-03 22:43] 77Lucky7 opened #261 "Set min-width for hat blocks"
If you input something like,
`::sound hat`,
the hat block will look glitched.

Same for the ring blocks, but instead of being glitched out, they look like ovals.
`::sound ring`

**This is @LuckyLucky7 from Scratch.**

[2018-12-04 11:49] Jonic opened #262 "Transpile scripts for IE11"
@tjvr Hello! Been a while since I've been over here - I believe we spoke briefly about this earlier in the year, but I'm creating an issue so it's tracked and we can discuss it if necessary.

Earlier in the year I merged this update that allows a website to consume Scratchblocks as a JavaScript module (587b78a84314720fa62b7e89a81725995cbf03a5). I'm now ready to update our implementation on the pro

[2018-12-04 16:55] Jonic commented on #262
@tjvr I might need to speak to you about the new version you're working on, as it looks like your built filenames differ from the current ones, and I'm also a little confused about the translations files too - the README refers to files that don't exist anymore, and I think there are some redundant `npm` scripts too! When would be a good time to chat about this?

Good news is I'm getting dead clos

[2018-12-06 20:40] tjvr commented on #261
We should probably set a minimum width for hat blocks. I'm not sure what's appropriate to use, since none of the official Scratch 3 blocks are short enough to trigger one!

I'm not going to do any work on ring blocks for the Scratch 3.0 renderer :)

[2018-12-06 21:00] tjvr commented on #262
Hey @Jonic,

Sorry for the delay—I didn't pick up GitHub notifications for a couple days (and work's been a bit crazy...)

**IE11**
I don't have any strong opinions on changing the build for IE11. I would slightly prefer to avoid a transpilation step: if it's easy to just update the source code to remove whatever feature IE11 doesn't support, I'm happy to do that!

**Build**
Regarding changes to t

[2018-12-06 21:06] Jonic commented on #262
@tjvr Hey Tim, no worries for the wait - I appreciate you’re very busy! :)

If you’d rather avoid a transpiration step then I’lol shelve what I’ve done and I guess this is now a request for IE11 support. And that being the case, my other comments about translations and package.json scripts are now no longer relevant!

Thanks for your help with this! I know the content team have been hoping for IE1

[2018-12-06 21:13] martinohanlon commented on #262
@tjvr @jonic just to add to this IE 11 support is essential (as much as it pains me) and a blocker to us taking a new version of scratchblocks. Any view on whether this is a simple thing to fix?

[2018-12-07 08:58] tjvr commented on #262
@jonic Echoing Martin's comment above: do you know what exactly doesn't work in IE11? And is it easier to add a transpilation step or to fix it directly? 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-07 11:30] Jonic commented on #262
@tjvr @martinohanlon It's hard to say for definite how much code there is that IE11 doesn't like, because it stops reporting after finding the first thing it finds. I'm going to run it through an eslint package that checks for browser compatibility, hopefully that will help us get closer. I'll branch again off master and see if I can get an idea of what needs to be fixed, and hopefully the fixes t

[2018-12-08 09:46] #262 closed

[2018-12-14 15:07] NitroCipher commented on #259
In s3blocks, I cheaped out, and set the border to a transparent black. it looks decent, but I will probably change it later

[2018-12-15 15:02] tjvr opened #265 "Scale blocks to 67.5%"
Scratch 3.0 zooms the blocks out by default, so they appear smaller than they are actually designed at. Since scratchblocks uses the same dimensions (we aim for pixel-perfect accuracy), but does not zoom out, currently the blocks on the demo page appear quite large.

We should scale to `0.675`, the same as the Scratch 3.0 editor, so that the demo page has the right sense of scale.

[2018-12-15 17:38] #260 closed

[2018-12-15 17:51] #257 closed

[2018-12-15 18:05] #259 closed

[2018-12-15 18:09] #255 closed

[2018-12-15 18:11] tjvr opened #266 "syntax: default to `custom` inside a define hat"
![scratchblocks 8](https://user-images.githubusercontent.com/639289/50046038-a979c380-0094-11e9-8372-1b7ed99eb0fe.png)

[2018-12-15 18:14] #261 closed

[2018-12-15 18:40] #256 closed

[2018-12-15 18:58] #265 closed

[2018-12-17 15:52] martinohanlon opened #267 "Scratch 3 - variables arent render in orange blocks"
The following code:

[code]

Creates:

![image](https://user-images.githubusercontent.com/2329501/50098462-e15b4500-0213-11e9-8b87-44092ff5dbfc.png)

Which appears to be missing the variable formatting e.g.

![image](https://user-images.githubusercontent.com/2329501/50098494-f6d06f00-0213-11e9-9e23-3eef9c4e12a5.png)

The equivalent in scratchblocks(2) would be:

![image](https://user-images.github

[2018-12-17 16:01] martinohanlon commented on #267
I suspect this is also related, there is a similar issue using "my blocks" and internal parameters.

This code:

[code]

Creates:

![image](https://user-images.githubusercontent.com/2329501/50099008-fe444800-0214-11e9-9da7-bd06acfdfced.png)

Which should be:

![image](https://user-images.githubusercontent.com/2329501/50098992-f5537680-0214-11e9-845a-576a6931a4ae.png)

[2018-12-17 16:10] NitroCipher commented on #267
This is a bug related to the new parsing of round parentheses from #252
currently the only way I have found to use the ```::variables```

IE ```turn cw (my variable ::variables) degrees```

[2018-12-17 16:13] NitroCipher commented on #267
The parser will however recognize a variable reporter if the variable is declared elsewhere in the block script.

**Not declared:**
![scratchblocks](https://user-images.githubusercontent.com/11393734/50099682-53b43100-01e4-11e9-994e-bf9aca3582bc.png)
**Declared:**
![scratchblocks](https://user-images.githubusercontent.com/11393734/50099673-4ac35f80-01e4-11e9-8de9-bb649f3812e3.png)

[2018-12-17 16:13] tjvr commented on #267
So as @NitroCipher suggests, this is a deliberate design choice. Since Scratch 3.0 variables are round, I've modified the parser to recognise round inputs as strings; I think it might be confusing to transcribe blocks otherwise.

Variables will be recognised if there's a "set variable to" or "change variable by" block elsewhere in the source. You can also use the `::variables` tag to explicitly fo

[2018-12-17 16:19] NitroCipher commented on #267
For compatibility issues alone, I think it would be less confusing to just use square brackets. Additionally, a lot of scratchers unfamiliar to scratchblocks might not know about modification syntax as well

Side note: should ```::variable``` be an alias of ```::variables```?

[2018-12-17 16:34] martinohanlon commented on #267
I also think it would also be less confusing to render strings as square brackets, having 2 defined input methods for strings `[]` and variables `()` sounds sensible, with the added benefit of maintaining compatibility

If you are worried about transcribing, what about adding in the ability to use quotes inside a round input to denote a string e.g.

[code]

or

[code]

[2018-12-17 16:36] NitroCipher commented on #267
quotes are commonly used inside of projects, so that would introduce more issues with the parser

[2018-12-17 16:39] martinohanlon commented on #267
I suppose, in which case you could use the `[]` brackets.

[2018-12-17 18:32] tjvr commented on #267
I think the existing `[ ]` syntax is the best alternative.

I'd love to gather more feedback on this change, but for now I'll simply revert the parser dialect used on the demo page.

The parser now supports two dialects, similarly to how there are two renderers, so reverting to the default dialect will disable the new code. Once we've confirmed this decision, I'll probably remove the new dialect e

[2018-12-17 18:34] martinohanlon commented on #267
Sounds good to me.

[2018-12-25 07:23] dnowba opened #269 "Can you tell us how to use Scratch3.0 blocks render in HTML?"
I have seen the README.md and follow the usage in HTML, but seems that the method only work in Scratch 2.0. Please tell us the right way to render Scratch 3.0's blocks.

[2018-12-26 14:15] tjvr commented on #269
Merry Christmas! 🎄

I should be updating the Readme in a few days. In the meantime you can try passing `{style: "scratch3"}` to renderMatching 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-31 10:02] apple502j opened #270 "Use translations on scratch-l10n"
It has some blocks' translations that are added in 3.0

[2019-01-02 19:15] NitroCipher opened #271 "Is the 3.0 update launching on the forums today with Scratch 3.0?"

[2019-01-02 21:40] tjvr commented on #271
Not that I've heard of! 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-03 16:35] McSinyx opened #272 "Generator doesn't work on Scratch 3.0"
Seemingly new version of Scratch updated the storage location for project, thus generator still fetch scripts from before Jan 2. I'm not sure how to solve but I'd be glad to help if there's anything I can do.

[2019-01-03 17:48] tjvr commented on #272
I imagine we'll need to update the generator to understand the new sb3 storage format unfortunately 😔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 14:09] Huy-Ngo commented on #272
It is weird that *some* of the projects can be converted and some cannot. Probably the ones that can be converted weren't modified after the new update.

[2019-01-04 14:18] Huy-Ngo commented on #272
I just give a peek at one of a new JSON file for a *.sb3 and apparently the properties and values are encrypted. In addition, it looks like the structure of the JSON file is different, too. Unsurprisingly it doesn't work...

[2019-01-16 12:12] Jonic opened #273 "Scratch 3 rendering issues"
Hi @tjvr - happy new year, if it's not too late in the month to be saying that!

We've (finally) deployed the updated Scratchblocks script to the Raspberry Pi Projects site, but one of our content editor (@martinohanlon) has noticed some inconsistencies with the rendering of the new Scratch 3 blocks. I don't think it's my implementation of the script that's caused the issue, so I've opened this is

[2019-01-16 16:39] NitroCipher commented on #273
Are you directly using the external bundle file? Or are using a build you compiled yourself?

[2019-01-16 16:53] Jonic commented on #273
@NitroCipher It's the result of the `npm run start` command. The bundle is generated by Rollup and dropped in the `build` directory. I copied it from there and we're hosting it ourselves. I was going to deploy the current version (3.2) to http://scratchblocks.github.io, but there's already a 3.2 script on that domain, which isn't the same version. I didn't get chance to talk to Tim about the versi

[2019-01-16 16:54] NitroCipher commented on #273
Can I get a link to the site it is deployed on?

[2019-01-16 16:58] Jonic commented on #273
@NitroCipher Yes of course - sorry! The live version of the image above is this: https://projects.raspberrypi.org/en/projects/lost-in-space/5

You'll have to open the "I need a hint" box and advance to the second step in the hint to see the issue.

[2019-01-16 17:00] Jonic commented on #273
@NitroCipher Also, just noticed you linked me to the v4 script - AFAIK (and maybe @tjvr can confirm this), that script is now actually behind the 3.2 script he and I released just before Christmas, so I think maybe the master branch here needs to be updated with the work that's continued in that v4 script? I'm not too sure!

[2019-01-16 17:05] NitroCipher commented on #273
Afaik, the scratchblocks.github.io site uses the v4 script. I will check in a minute

[2019-01-16 17:08] Jonic commented on #273
@NitroCipher The Scratch 3 demo there does, yeah. I think there's maybe some confusion about that v4 version, and the current `master`. They appear to have different rendering, but I won't know for certain without @tjvr's help!

[2019-01-16 17:13] NitroCipher commented on #273
i locally replaced your bundle file, and that does not seem to be the issue. I will look more later. Can you send a zip of the plugin you have deployed?

[2019-01-16 17:16] Jonic commented on #273
@NitroCipher Sure thing: [rpi-projects-scratchblocks.zip](https://github.com/scratchblocks/scratchblocks/files/2765279/rpi-projects-scratchblocks.zip)

Thanks for your help! FWIW, I just pointed our projects site at the v4 script and the blocks are still coming out bigger than the demo page shows them. So it might actually be our implementation - I just can't see what right now!

[2019-01-17 18:34] tjvr commented on #273
Do you parse the script once, and then render the blocks twice, once in each language? Which style do you render first?

I'm wondering if there's some accidental mutation going on...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-17 18:40] NitroCipher commented on #273
I have no idea what is happening. In your build, you have the 2.0 icons in the hardcoded, but not the 3.0 ones.

[2019-01-17 19:48] tjvr commented on #273
I think I've figured it out 🤦‍♂️ I would guess that the `<use href="#loopArrow">` doesn't work when you have both Scratch 2 and Scratch 3 scripts in the same document.

[2019-01-18 10:07] Jonic commented on #273
@tjvr It's a weird one for sure - I'm having trouble replicating it locally!

I have noticed that if I have Scratch 2 and 3 on the same page, and the Scratch 3 appears in the DOM after the Scratch 2, then the arrow images are misaligned on the Y axis, but it's the correct graphic. This case in the "lost in space" project is different, because there's no Scratch 2 in the rest of the page or project

[2019-01-22 11:51] tjvr commented on #273
I'll try and have a look 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-22 12:16] tjvr commented on #273
Fixed in d9322cf! :-)

[2019-01-22 12:16] #273 closed

[2019-01-22 12:52] #271 closed

[2019-01-22 12:53] tjvr commented on #269
Hey, does this help? :)

The interface for using scratchblocks has changed. It now looks something like this:

[code]

[2019-01-22 12:54] tjvr commented on #267
I've updated the homepage to always use the "classic" dialect. This means `say (foo)` will now render as a variable, even when rendering to Scratch 3.

I've also made the new homepage the default, and updated the translator to use Scratch 3 blocks. 🙂

[2019-01-22 12:54] #267 closed

[2019-01-22 12:55] tjvr commented on #250
Hey, I'm afraid the Node port isn't supported anymore. If you want to render scratchblocks on the backend, I recommend using something like Phantom.js or Puppeteer :-)

[2019-01-22 12:55] #250 closed

[2019-01-22 12:56] tjvr commented on #240
I think this is now resolved :)

[2019-01-22 12:56] #240 closed

[2019-01-22 12:56] tjvr commented on #239
I think we've answered this question 😊

[2019-01-22 12:56] #239 closed

[2019-01-22 12:57] tjvr commented on #228
I'm going to close this in favour of #272.

[2019-01-22 12:57] #228 closed

[2019-01-22 12:57] tjvr commented on #209
🤷‍♂️ They look fine to me now...

[2019-01-22 12:57] #209 closed

[2019-01-26 18:30] #269 closed, assigned to nobody

[2019-02-05 16:08] benjiwheeler commented on #272
@Huy-Ngo I **think** that there is nothing encrypted in `.sb3` files. They're zipped, so you need to unzip them, and then they have asset ids that use md5 hashes as the filenames, and block instances are uniquely identified using strings like "_sVg+ALFy:6A|#}hI^Tg".

[2019-02-05 16:40] benjiwheeler opened #274 "Block appearance in forums should resemble Scratch 3.0 block styles"
@tjvr and others, we would like to update the scratchblocks code used on the forums to show the pseudo-blocks there.

(I didn't think this was the same issue that's discussed at https://github.com/scratchblocks/scratchblocks/issues/272 , because that seems to be focused on generating the `.sb3` format, rather than just html/css)

In this discussion: https://github.com/LLK/scratch-www/issues/2726 ,

[2019-02-05 20:08] tjvr commented on #274
Hello! 👋 I didn't know whether you're planning to maintain the forums going forward, which is why I didn't reach out before.

You're right this is a separate issue 🙂

I've added a brand-new renderer to scratchblocks, which renders blocks in the Scratch 3.0 style. The work required to get it onto the forums is just:
- update the scratchblocks and translation JS files
- slightly change the method ca

[2019-02-05 22:53] benjiwheeler commented on #274
Thanks for the response, @tjvr!

Ideally, we could just drop in a built js file where we currently use the existing `scratchblocks.js`.

What's the translation js file? (Sorry, I'm new to this project!)

How does the method call need to change?

Which repository were you thinking of sending a PR to? The problem is that the change on our end needs to happen in the `scratchr2` legacy codebase, which

[2019-02-05 22:55] benjiwheeler commented on #274
Also, you should know that @NitroCipher did a bunch of great work on their fork, https://github.com/s3blocks/s3blocks . Any chance you could take a look, and work on integrating the ideas you've used?

[2019-02-05 22:57] NitroCipher commented on #274
The scratchblocks.js file is the compiled version of all of the scratchblocks repository. Blocks.js, style.js, and the others are all packed into that.

[2019-02-05 23:00] NitroCipher commented on #274
Tjvr and I are on pretty good terms, and he definitely has the more feature-packed engine. If you just want to replace the one file, you can use s3blocks to accomplish the same task for the short term.

[2019-02-05 23:03] NitroCipher commented on #274
[My bundle.js on the gh-pages site](https://s3blocks.github.io/js/bundle.js) is the fully compiled version of s3blocks, equivalent to the scratchblocks.js file, albeit a different file name

[2019-02-05 23:17] tjvr commented on #274
I'm aware of @NitroCipher's fork, is there anything in particular you think that scratchblocks is missing? 🙂

A very long time ago I sent a PR to [llk/s2forums](https://github.com/LLK/s2forums), which is how scratchblocks got into the forums in the first place. I've updated it a couple of times since then, but the last time my PR was merged into a private repository, since I think the public one i

[2019-02-05 23:20] benjiwheeler commented on #274
Since scratchblocks has been used until now, my preference is for continuing to use a file built from it, so there's a clear place for people to continue to work on it.

I don't think we need to put something in place immediately, though of course, the sooner the better.

I'm more concerned with making sure there is clarity on what we're pointing to, so that we're not feeling like we have to do a

[2019-02-05 23:20] NitroCipher commented on #274
The only thing that is missing from the 3.0 version that is breaking a bunch of block representations is the lack of the ring block in the renderer. I personally am using the same block shape as the rectangular drop downs to make it work. I will find an example in a moment

[2019-02-06 17:14] NitroCipher commented on #272
I have started work on it! I'll update documentation later, and also convert it to a proper site, rather than a userscript

https://github.com/s3blocks/s3bGenerator

[2019-02-07 16:50] benjiwheeler commented on #274
@tjvr, do you have a js file that's ready to be dropped in on our end?

[2019-02-07 17:35] NitroCipher commented on #274
@benjiwheeler https://s3blocks.github.io/js/bundle.js can be dropped in as we speak

[2019-02-07 17:42] NitroCipher commented on #272
The generator is already almost complete! the only thing left is nested reporters, but otherwise, everything seems to work!

[2019-02-12 03:06] NitroCipher commented on #272
I just finished up the reporters, now all that is left is the custom blocks. I also built a standalone page for the generator, rather than just the userscript

Try it out:
https://s3blocks.github.io/generator/?id=101720316

[2019-02-12 03:08] NitroCipher commented on #272
@tjvr Try it out if you want!

[2019-02-12 03:52] NitroCipher commented on #274
@benjiwheeler My *properly* built build file is here: https://s3blocks.github.io/js/s3blocks.min.js

[2019-02-15 19:55] tjvr commented on #274
@benjiwheeler Sorry for the delay, busy week at work! I'll try and have a look this weekend, and see if it looks like the new version will work on the forums 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-15 20:39] tjvr commented on #274
Okay, I've double-checked how the forums are currently using scratchblocks, and it looks like you should be able to drop in the latest version of `scratchblocks` without any issues :tada:

Here's all you need to do:

1. Clone this repository, and run `npm run build`
2. Take the `build/scratchblocks.min.js` file, and replace the `djangobb_forum/scratchblocks/scratchblocks.js` file you're currently

[2019-02-15 21:00] NitroCipher commented on #274
This still isn't functional (rings holding stacks of blocks)

https://scratchblocks.github.io/#?style=scratch3&script=when%20gf%20clickedset%20[variable%20v]%20to%20({move%20(10)%20stepsturn%20ccw%20(15)%20degreesetc...%20%3A%3Agrey}%3A%3Aring)

https://s3blocks.github.io/#when%20gf%20clickedset%20[variable%20v]%20to%20({move%20(10)%20stepsturn%20ccw%20(15)%20degreesetc...%20%3A%3Agrey}%3A%3Aring)

[2019-02-16 10:03] tjvr commented on #274
I'm not particularly worried about rings, since they aren't supported in Scratch. (They're a Snap! feature, as you know.)

[2019-02-19 14:42] jahunsbe1 opened #275 "The selected block is not always the one generated"
Sometimes the selected block(s) are not the one(s) generated. An example is in [this project](http://scratchblocks.github.io/generator/#project=126517840), sprite Game. Perhaps because the project has so many blocks, when a block is selected, often the code for a block near it is given rather than the selected block.

[2019-02-27 09:59] tjvr commented on #274
@benjiwheeler Let me know if you need any further help getting this to work on the forums! 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-27 11:40] benjiwheeler commented on #274
@tvjr Thanks. It's a bit of a show process to test this on our end, but we're making progress bit by bit.

[2019-02-27 19:32] benjiwheeler commented on #274
So, I've tried both @NitroCipher's build and @tjvr's build, and both seem to have the same basic problem: the HTML parsing and js/css rendering take a very long time.

I made a simple thread with the content:
[code]

When I view this with the current, Scratch-2.0-style state of the forums code, the page fully renders and is ready for viewing (with pseudo-block images) in an average of 4 seconds.

[2019-02-27 19:43] tjvr commented on #274
Curious. Do you have an example forum thread that you see this on?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-07 01:16] benjiwheeler commented on #274
I was seeing it essentially on all of them. E.g.:

https://scratch.mit.edu/discuss/topic/66790/

[2019-03-07 21:29] benjiwheeler commented on #274
@tjvr, I'm going to go ahead and use @NitroCipher's version because it seems more ready to go. They are both very similar, and I'm not trying to pick sides. I may be able to revisit which library source we're using after a while.

[2019-03-08 14:40] NitroCipher commented on #274
Any ETA on when it goes up?

[2019-03-08 19:35] tjvr commented on #274
That's frustrating—I've always hoped to avoid the project forking—but ultimately it's up to you.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 19:58] tjvr commented on #274
To expand on my comment in the other thread:

The reason that the menu isn't working right is that I've updated the category of the music blocks. In s3blocks, the music blocks still have the old colour. For example, the `change tempo by ()` block should be green instead of purple. I've also put a lot of work into getting the layout and typography as close to Scratch 3.0 as possible (the aim is to

[2019-03-18 10:11] aoloe opened #276 "when translating (to german) wrong "classes" are added"
if i translate

[code]

i get

[code]

- the `:: music` "class" is not needed,
- and the `:: control` one is wrong...
- `:: motion` is not needed either...

i got this effect also with other translations.

(otherwise, amazing work! : - )

[2019-03-18 10:42] aoloe opened #277 ""change color" wrongly translated to german"
[code]

gets translated to

[code]

but the scratch UI uses:

[code]

[2019-03-18 10:53] aoloe commented on #277
on top of it,

[code]

is correctly rendered, while

[code]

is not.

no idea if this is ok so...

[2019-03-18 14:11] tjvr commented on #277
Thanks for reporting! Perhaps we just need to update the translations...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-18 21:58] benjiwheeler commented on #274
Sorry, there seem to be a few remaining bugs in both implementations, and we still aren't rolling out either.

@tjvr and @NitroCipher, we noticed that in both of your implementations, the compose menu includes a bunch of "Undefined" values:

(screenshot from @tvjr's implementation:)

![image](https://user-images.githubusercontent.com/3431616/54566322-e6f93000-49a6-11e9-9310-5fb1ef4d35a9.png)

(scr

[2019-03-18 22:02] benjiwheeler commented on #274
(BTW I fixed the z-index issue that's visible in the screenshot from @tjvr's code above, FYI -- don't worry about that)

[2019-03-19 14:50] aoloe commented on #276
[code]

also  becomes

[code]

[2019-03-23 14:14] posollid commented on #272
I've encountered an issue with the exported svg-files generated by the s3blocks generator. The generated file looks completely fine in chrome and GIMP, but is incorrectly displayed when opened in inkscape and powerpoint (365-version which supports svg).

I generated another svg-file using the sblocks generator with the same exact scratch code / blocks and it displayed correctly in all of the above

[2019-03-24 02:18] NitroCipher commented on #272
This seems to be an issue with the svg renderer in inkscape, but im really not sure what is happening. Definitely super strange

![image](https://user-images.githubusercontent.com/11393734/54874031-31b4e680-4db1-11e9-9e80-a9959cc7c461.png)

[2019-03-24 13:05] posollid commented on #272
I agree, although the same issue happens with PowerPoint and also online converters I’ve tried like convertio.co to convert to other vector image file types... Also I don’t have this issue with the svg generated by the scratchblocks site (using 3.0 blocks).

So possibly the solution lies somewhere in the differences between the two svg-export-methods?

[2019-03-25 15:42] aoloe opened #278 "the dash in `-Effekt` does not get rendered (and break things)"
The German translation for

[code]

is

[code]

But the `-` before `Effekt` does not get rendered and seems to break things.

I could get a sane result by using

[code]

[2019-03-26 03:07] benjiwheeler commented on #274
Also, we noticed that if you make a forum post with a block like “go to x () y: ()”, and don’t put values inside the parentheses, the block renders without the corresponding input - and turns red. If you put a space inside the parens, the input renders fine.

[2019-03-26 14:21] NitroCipher commented on #274
@benjiwheeler I'm not seeing on either scratchblocks or s3blocks. Screenshot?

[2019-03-26 21:14] benjiwheeler commented on #274
@NitroCipher Weird, you're right, I can't reproduce it either. I could've sworn I saw that happen! Sorry, that report was mistaken, I guess. I'll make a note in my comment above, sorry for the false alarm

[2019-03-30 22:56] tjvr commented on #278
Thanks! It turns out we're not translating the sound effect arguments properly. :)

[2019-03-30 22:57] #278 closed

[2019-03-30 23:37] tjvr commented on #277
Oh interesting, looks like `scratchr2_translations` which we're currently using is now deprecated, in favour of `scratch-l10n`. That could be a pain to update :disappointed:

[2019-03-31 22:28] dalelane opened #280 "Support for icons in custom Scratch 3 blocks"
I'd like to use Scratchblocks to document some custom extension blocks for Scratch 3.

My blocks include a custom icon.

Is there any way in scratchblocks to specify an icon to use for custom blocks (in the same way that, for example, the pen icon is shown for blocks like `set pen color to [#00FF00]`), please?

[2019-04-01 16:43] tjvr commented on #280
I'm afraid there isn't a way to do that right now!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-15 09:17] GeneTso opened #281 "typo in readme"
`<script src="https://scratchblocks.github.io/js/scratchblocks-3.x-min.js"></script>`

should be

`<script src="https://scratchblocks.github.io/js/scratchblocks-v3.x-min.js"></script>`

[2019-04-21 12:04] #280 closed

[2019-04-21 12:05] #258 closed

[2019-04-24 06:04] exKAZUu opened #283 "Employ ESLint"
If acceptable, I'd like to contribute to do this issue.

ESLint: https://github.com/eslint/eslint
JavaScript Style Guide: https://github.com/standard/standard

[2019-04-25 23:20] tjvr commented on #283
Hey, thanks for your interest in contributing. I've already set up Prettier to format the codebase (see `npm run fmt`). What advantage would ESLint give?

[2019-05-01 13:16] Smrman commented on #283
Prettier just formats your code while ESLint gives you tips on how to modernize your code (use the latest ES6 features, good practises, etc..)
I'd recommend you to use ESLint too since it's a great tool, can't hurt ;)

[2019-05-02 07:26] exKAZUu commented on #283
@tjvr Sorry for the late response.

ESLint is a linter for warning and fixing code fragments which violate configurable rules (i.e. coding conventions).
Please check the advantages by seeing my draft PR (#286). The reason why I would suggest to use ESLint is that the current code uses a bit old JS syntax like `var` v.s. `let` + `const`.

Though ESLint is a de facto standard, there are too many con

[2019-05-03 20:51] martinohanlon opened #287 "Translator doesnt translate blocks inside C blocks"
We just noticed that the translator doesnt translate anything which is inside a C block.

e.g.

https://scratchblocks.github.io/translator/#?lang=nl&script=forever%0Amove%20(10)%20steps%0Aend

![image](https://user-images.githubusercontent.com/2329501/57164905-70e14900-6ded-11e9-9c55-dae7e470eda5.png)

I dont know if this is a recent issue, or has always been like this.

[2019-05-04 12:16] tjvr commented on #287
Good spot, thanks!

This should be fixed now: [here's an example](http://scratchblocks.github.io/translator/#?lang=de&script=when%20flag%20clicked%0Aif%20%3Cmouse%20down%3F%3E%20then%0Astamp%0Aelse%0Aclear%0Aend) :-)

[2019-05-04 12:16] #287 closed

[2019-05-10 01:00] exKAZUu opened #291 "Employ CI service such as Travis CI or CircleCI"
These services can automatically run tests when commits are added without charge. I believe this can reduce human efforts.

- https://travis-ci.org/
- https://circleci.com/

[2019-05-12 20:10] #245 closed

[2019-05-12 20:11] tjvr commented on #291
Thanks, but I don't see a need to set up CI at this time :)

[2019-05-12 20:11] #291 closed

[2019-05-12 20:16] tjvr commented on #275
Closing since the generator is no longer supported.

[2019-05-12 20:16] #275 closed

[2019-05-12 20:16] tjvr commented on #277
This should be fixed by #285 -- please open a new issue if there are still problems. :)

[2019-05-12 20:16] #277 closed

[2019-05-12 20:16] tjvr commented on #276
This should be fixed by #285 -- please open a new issue if there are still problems. :)

[2019-05-12 20:16] #276 closed

[2019-05-12 20:17] tjvr commented on #272
Closing since the generator is no longer supported.

[2019-05-12 20:17] #272 closed

[2019-05-12 20:17] tjvr commented on #270
Fixed in #285.

[2019-05-12 20:17] #270 closed

[2019-05-12 20:18] tjvr commented on #197
Closing due to inactivity. Browsers seem to crash less often these days, so that's good!w

[2019-05-12 20:18] #197 closed

[2019-05-12 20:19] tjvr commented on #218
Confirmed: <http://scratchblocks.github.io/#?style=scratch2&script=(%7Bmoo%7D%3A%3Agrey%20ring)%0A(%7Bmooo%7D%3A%3Agrey%20ring)%0A(%7Bmoooo%7D%3A%3Agrey%20ring>
![scratchblocks(1)](https://user-images.githubusercontent.com/639289/57587360-b099e600-74fb-11e9-95e2-0e07b9194e0d.png)

[2019-05-12 20:21] tjvr commented on #180
Closing since the diff tool is no longer supported.

[2019-05-12 20:21] #180 closed

[2019-05-12 20:21] tjvr commented on #183
Closing due to inactivity.

[2019-05-12 20:21] #183 closed

[2019-05-12 20:21] tjvr commented on #188
Closing due to inactivity.

See also: #197

[2019-05-12 20:21] #188 closed

[2019-05-12 20:22] tjvr commented on #207
Closing due to the above -- rings should be written `({stamp} :: grey ring))`.

Note that the Scratch 3.0 renderer deliberately doesn't support rings.

[2019-05-12 20:22] #207 closed

[2019-05-16 04:50] exKAZUu opened #293 "Cannot use scratchblocks from Node.js"
`require('scratchblocks')` causes the following error:

[code]

[2019-05-16 05:20] exKAZUu opened #294 "`postinstall` should be removed in package.json"
When installing `scratchblocks` in a node project, `scratchblocks`'s [postinstall](https://github.com/scratchblocks/scratchblocks/blob/master/package.json#L25) is automatically executed and `rollup` causes an error.

The reason why the error occurs is that the uploaded `scratchblocks` package doesn't include `locales-src` as follows.

[code]

However, `postinstall` seems unnecessary because the up

[2019-05-16 05:26] exKAZUu commented on #293
[jsdom](https://github.com/jsdom/jsdom/) and [node-canvas](https://github.com/Automattic/node-canvas) can fix this issue, but I believe we should fix #294 at first.

[2019-05-16 07:57] tjvr commented on #293
Using scratchblocks from node.js is not supported. We used to use node-canvas, but it wasn't ideal, so we removed it. In particular, we care a lot about text metrics, and since those are specific to your installed fonts it doesn't make sense to generate SVGs on the server which may be rendered with different fonts installed.

If you want to render scratchblocks on the server, it's recommended you

[2019-05-16 07:57] #293 closed

[2019-05-16 07:57] tjvr commented on #294
I believe @Jonic set this up; what do you think? 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-16 07:58] #281 closed

[2019-05-16 10:57] exKAZUu commented on #293
I see, thank you for the explanation!

[2019-05-16 13:08] Jonic commented on #294
@tjvr @exKAZUu Yeah that makes sense to me. If it's not working then I obviously failed at whatever it was I was trying to do! I don't removing it is going to cause any problems! :)

[2019-05-17 03:06] NitroCipher commented on #218
lol, forgot i made this issue :P

[2019-05-17 04:21] Jonathan50 commented on #207
But it should be `({stamp} @addInput)`: https://github.com/scratchblocks/scratchblocks/releases/tag/v3.1 That works on the forums, and used to work on the wiki.

[2019-05-17 09:35] #294 closed

[2019-06-04 13:48] Skagevang opened #296 "Height of SVG is wrong"
<img width="1128" alt="2019-06-04" src="https://user-images.githubusercontent.com/11090538/58884103-023f2600-86e0-11e9-9d57-6c07b941b6cc.png">

As you can see in the picture the SVG is higher than the actual block. This makes the inline use blocks look bad.

[2019-06-08 17:43] tjvr commented on #296
This might be deliberate; I really can't remember. :thinking:

[2019-06-08 17:47] NitroCipher commented on #296
Hmm, this is definitely strange, the same issue is _not_ present in s3blocks, so it would have been added after your 3.0 update

[2019-06-09 16:56] Skagevang commented on #296
Yeah don't think this is deliberate. Since it's not like this for the scratch2 style.

[2019-06-09 18:08] Skagevang commented on #296
What about changing [this line](https://github.com/scratchblocks/scratchblocks/blob/5854607e6e6077199b17f7b270f34504de77582a/scratch3/blocks.js#L750) with
`if (script.blocks.length === 1) height += script.blocks[0].height + 10
else height += script.height`

It's a bit hacky, but seems to work

[2019-06-09 18:12] Skagevang commented on #296
And updating the version would be really nice, since #295 isn't in the latest version

[2019-06-14 12:39] Skagevang commented on #296
You want me to send a pull request with my suggestion?

[2019-06-14 23:38] tjvr commented on #296
Hmm, it might have to do with L747 actually. I'll try and take a look

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-18 02:08] exKAZUu opened #297 "Empty arguments in `define` cause an error"
Empty arguments in `define` cause an error. e.g. `define a()` causes the following error.

[code]

[2019-06-18 07:58] tjvr commented on #297
Oops, thanks for reporting!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-18 07:58] tjvr commented on #297
Oops, thanks for reporting!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-20 09:11] Skagevang commented on #296
Hi @tjvr, what's the status for this issue? :)

[2019-06-20 09:14] tjvr commented on #296
Sorry, I've been very busy!

I can't see any obvious problems in Document::render(). I wonder if L706 is the culprit...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-20 18:42] Skagevang commented on #296
You are absolutely right @tjvr, the numbers in that line is wrong. It should be:

[code]

Would be amazing if you fixed this asap and bumped the version  so I can yarn add scratchblocks to the project I'm working on 😄

[2019-06-21 14:42] tjvr commented on #296
How do you know those are the right numbers? 😄

If you can PR this, I'll try and take a look. 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-21 14:51] Skagevang commented on #296
This is equal to what I suggested in an earlier comment. And I've tested it.

I can't make a PR, because I already have a fork of another fork of this project. I can't delete that fork before we start to use your repo. And we will start doing that the moment this issue is solved and a new version is released 😄

It should be just as fast for you to bump version number and change L706 to what I sugg

[2019-06-25 06:19] exKAZUu opened #298 "Fix or remove #server-side-node in README"
The content of https://github.com/scratchblocks/scratchblocks#server-side-node is currently not correct. So I believe we should fix or remove it.

Btw, I've confirmed that `scratchblocks` can work on Node.js. It is still useful for me because SVG images generated via Node.js seem identical with ones generated via a browser on the same PC (though #293).

I'd like to improve README by writing instru

[2019-06-25 07:37] exKAZUu opened #302 "Proposal: allow users to make sub-blocks glow"
Currently, `scratchblocks` allows users to make only statement-level blocks glow.
But, I believe it's useful to be able to make sub-blocks (e.g. an argument) glow.

This ticket proposes a new syntax, adding `+` immediate before a sub-block makes the sub-block glow.
e.g. `move +(1) steps`: makes only `(1)` glow

If this proposal is acceptable, then I'll make a PR. @tjvr How do you think?

[2019-07-01 03:39] exKAZUu opened #303 "Color of my block is different from Scratch 3.0"
- Scratch 3.0
  ![image](https://user-images.githubusercontent.com/436237/60409122-1c93f300-9bfd-11e9-8025-dff8168655c0.png)
- scratchblocks
  ![scratchblocks](https://user-images.githubusercontent.com/436237/60409137-32a1b380-9bfd-11e9-92a6-485114b763fc.png)

[2019-07-01 04:26] NitroCipher commented on #303
`my block` is not a _real_ block. It is the placeholder text for a custom block.

However, if you type `define my block`, all appearances of `my block` will become pink
![scratchblocks](https://user-images.githubusercontent.com/11393734/60410535-790bf980-9b8e-11e9-9794-a6958b3c624d.png)

[2019-07-01 04:38] exKAZUu commented on #303
Thank you for the comment! I understand.
Hm, I sometimes want to show a fragment of a program excluding a definition for the sake of brevity.
Is there any workaround to make `scratchblocks` recognize blocks as defined ones?

[2019-07-01 04:46] NitroCipher commented on #303
absolutely! You can do the custom block color using  `my block ::custom`, or any color with `my block ::#FF00FF`

[2019-07-01 04:48] exKAZUu commented on #303
Oh, I didn't know such a notation 😓
Thank you for your help!

[2019-07-01 04:48] #303 closed

[2019-07-01 04:52] NitroCipher commented on #303
No problem, glad to help

[2019-07-04 08:50] daejong123 opened #304 "How can i drag block convert to code"
Hi, i have a need that drag scratchblock to generate code.
maybe scratch3 can do it. (by scratch-vm blocks gui...)
but, i just want to use scratch-blocks.
so, can you give me some advices.
thx!

[2019-08-05 19:49] tjvr commented on #298
I would remove it. As I [wrote previously](https://github.com/scratchblocks/scratchblocks/issues/293#issuecomment-492960885):

[2019-08-05 19:52] tjvr commented on #302
I think I can imagine allowing making _reporter blocks_ glow. The syntax would be something like `move (+distance to [mouse-pointer v]) steps`.

I'm not a fan of putting the `+` outside the reporter, but I can see there would be problems with putting it inside if we wanted to support string inputs, e.g. does `[+foo]` mean the string "foo" which is glowing, or the string "foo"?

I also note that a

[2019-08-05 20:11] #297 closed

[2019-08-05 20:19] tjvr commented on #304
I'm not sure what you mean.

[2019-08-05 20:19] #304 closed

[2019-08-06 04:48] sokunthearithmakara opened #306 "Adding Khmer language"
Hi,
Could you please add Khmer language to the language dropdown on http://scratchblocks.github.io? The translations have been recently updated for Scratch 3.0.

Thank you.

[2019-08-12 09:03] plntsmtphr opened #307 "The Chinese translation of "effect" blocks are wrong"
"effect" should be ”特效“ in Chinese instead of "音效".
e.g.

- "change (color v) effect by (24)" should be "将(颜色 v)特效增加(25)".
-  "set (color v) effect to (0)" should be "将(颜色 v)特效设为(0)".
- "clear graphic effects" should be "清除特效".

[2019-08-27 06:07] kg1992 opened #308 "Korean translation of 'If then' contains reporter block syntax '()'"
Hello, thanks for an amazing plug-in.

I recently found that it is impossible to write 'if' block in Korean locale. ('ko.json')
Not that the translation is wrong, but the translation includes reporter block syntax.

is translated into

They will be looking like [this](http://scratchblocks.github.io/#?style=scratch3&lang=ko&script=%09%09%0A%09%EB%A7%8C%EC%95%BD%20%3C%EB%A7%88%EC%9A%B0%EC%8A%A4%EB%A

[2019-08-27 10:30] tjvr commented on #308
Oh interesting. Does it appear in Scratch with the brackets?

We pull translations from the same repository that Scratch itself uses, so I'd rather not customise them too much 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-27 14:40] kg1992 commented on #308
Yes, translation in locale file ko.json seems identical to what scratch app shows.

Long answer: They put parenthesis around 이, because the last letter of preceding word decides its appearance, and that is up to which block user inserts there. Thus, no one can predict it.

Since it is not desirable to customize locale file, I might try to solve this issue by modifying locale data in ‘scratchblocks

[2019-09-02 22:49] JorgeNachtigall opened #309 "Can please provide an example of usage in HTML?"
Hi,

I'm build an real time monitor tool for Scratch projects and I'm trying to use scratchblocks to render the code that I've receive from my server, but I can't understand how to use this lib.

I've imported `<script src="https://scratchblocks.github.io/js/scratchblocks-v3.0-min.js"></script>`

and already placed `scratchblocks.renderMatching('pre.blocks');` on my .html file but nothing happens.

[2019-09-05 08:39] kg1992 commented on #309
Hi.

<https://ag-k.github.io/scratchblocks-html-sample-ja/>

This article was really helpful for me. The page shows usage of renderMatching method.

[2019-09-05 17:20] JorgeNachtigall commented on #309
Hi @kg1992

I've already found it =) But thanks for your reply!

[2019-09-05 17:20] #309 closed

[2019-09-12 11:32] ninaszymor opened #311 "Match blocks before matching 'define' hats"
The above-mentioned blocks are incorrectly interpreted:

![image](https://user-images.githubusercontent.com/33628387/64780787-33d65180-d559-11e9-9568-a9f8f7eb9c42.png)

They should look like this:

![image](https://user-images.githubusercontent.com/33628387/64780813-42246d80-d559-11e9-9aa7-7a56276897da.png)

I'm raising this issue on behalf of the Raspberry Pi Foundation. We would greatly apprecia

[2019-09-13 15:36] dovisutu opened #312 "Error in installing scratchblocks by npm"
When I'm installing scratchblocks (package) by npm, it shows up error.
Previously it's because `rollup` isn't installed (maybe add it in package.json), but I finally reach a place where it's `rollup` reporting error:
[code]
and then exited. What happened and how can I install the package successfully?
PS: I'm using windows10. This may help.

[2019-09-20 04:59] exKAZUu commented on #312
@dovisutu
Hi, I've fixed the issue in #295, but the latest changes have still not been published on npm.
So, I'm using the following `package.json` in my projects to use the latest version. I hope it will help you.

[code]